{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "rules": {
    "strict": 0,
    "no-console": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off",
    "no-case-declarations": "off",
    "no-constant-condition": "off",
    "quotes": [2, "single", { "avoidEscape": true }]
  },
  "extends": [
    "eslint:recommended"
  ],
  "settings": {
    "preact": {
      "version": "8"
    }
  }
}
