<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Memlike - 404</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
    <style>
        .empty-box {
            width: 95%;
            margin: auto;
            position: relative;
        }
        .empty-box::before {
            content: "404";
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 200px;
            color: white;
            z-index: -1;
        }
    </style>
  </head>
  <body>
      <div class="empty-box">
        <p>$(LANG.misc['404'])</p>
        <a href="/" class="link">$(LANG.misc['back_home'])</a>
      </div>
  </body>
</html>