$def with (tpl)

$if "currentPage" in tpl:
  $ currentPage = tpl.currentPage
$else:
  $ currentPage = ""

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      Memlike
      $if "title" in tpl:
        - $(tpl.title)
    </title>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
  </head>
  <body>
    $if "header" in tpl:
      $:tpl.header
    $else:
      <header>
        <div class="inner">
          <ul class="header-nav inner">
            $for item in MENU:
              $if item['slug'] == "login" and session.loggedin:
                <li class="header-nav-item plain $(item['slug'])">
                  <a href="/user/$(session.loggedin['username'])">
                    <img src="$(session.loggedin['photo'])" class="profile-avatar">
                  </a>
                </li>
              $else:
                <li class="header-nav-item plain $(item['slug']) $('is-active' if item['slug'] == currentPage else None)">
                  <a href="$(item['url'])" class="nav-item-btn">
                    <span class="nav-item-btn-text">$(LANG.menu["dashboard"] if item["slug"] == "index" and session.loggedin else LANG.menu[item['slug']])</span>
                  </a>
                </li>

            <!-- Choose lang -->
            <li class="header-nav-item lang">
              <ul id="choose-lang">
              $for lang in locales:
                <li class="$('active' if lang['slug'] == session.lang else None)">
                  <a href="/lang/$(lang['slug'])"><img src="$(lang['photo'])" title="$(lang['name'])" height="20"></a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </header>

    $:tpl

    <footer class="clearfix">
      $if env['GITHUB_REPO']:
        <a class="github" href="$(env['GITHUB_REPO'])" title="Fork me on Github">
          <img src="https://cdn.rawgit.com/a-mt/4eee1459b499f6970e667f39c12b9e63/raw/146f66fcf3794a0fcd5a7a810341124825246fa1/Octicons-mark-github.svg" alt="Fork me on Github" height="30">
        </a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script>
      window.i18n = {
        error: "$:(LANG.misc['error'])",
        page: "$:(LANG.misc['page'])",
        courses_none: "$:(LANG.misc['courses_none'])",
        following_none: "$:(LANG.misc['following_none'])",
        followers_none: "$:(LANG.misc['followers_none'])",
        wrong_answer: "$:(LANG.misc['wrong_answer'])",
        correct_answer: "$:(LANG.misc['correct_answer'])",
        your_answer_was: "$:(LANG.misc['your_answer_was'])",
        empty_dashboard: "$:(LANG.misc['empty_dashboard'])",
        browse_courses: "$:(LANG.misc['browse_courses'])"
     };
    </script>
    <script src="/static/js/app.js"></script>
    $if "js" in tpl:
      $for file in tpl.js.split(','):
        <script src="$file"></script>
  </body>
</html>