$def with (courses, offset)

$for i, course in enumerate(courses):
  $ idCat = str(course['id'])
  $ progress = course['progress']
  $if idCat in LANG.categories:
    $ category = LANG.categories[idCat]
  $else:
    $ category = course['name']

  <div class="course-box"
        data-i="$(offset + i)"
        data-progress="$(progress['percent_complete'])"
        data-title="$(course['name'])"
        data-review="$(progress['due_review'])"
        data-category="$(category)">

    <!-- Progress-->
    <div class="course-progress" title="$(progress['learned'])/$(progress['size'] - progress['ignored'])">
      <div class="course-progress-active" style="width: $(progress['percent_complete'])%"></div>
    </div>

    $if progress['percent_complete'] == 100:
      <div class="course-complete">$:(LANG.misc['course_complete'])</div>

    $if progress['due_review']:
      <div class="need-watering $('small' if progress['due_review'] >= 1000 else None)">
        $if progress['due_review'] >= 1000:
          +999
        $else:
          $(progress['due_review'])
      </div>

    <div class="inner-wrap">
      <!-- Photo -->
      <a href="/course/$(course['id'])/$(course['slug'])/" class="picture-wrapper">
        <div class="course-box-picture" style="background-image: url(&quot;$(course['photo_url'])&quot;)"></div>
      </a>
      <div class="details-wrapper">

        $#<!-- Language -->
        $#<div class="target-photo">
        $#  <img src="$(course['target']['photo'])" alt="">
        $#</div>

        $#<!-- Author + category -->
        $#<div class="clearfix">
        $#  <a href="/fr/courses/$(course['source']['slug'])/$(course['target']['slug'])/" class="category" title="$(category)">
        $#    $:category
        $#  </a>
        $#</div>

        <!-- Title -->
        <h3>
          <a href="/course/$(course['id'])/$(course['slug'])/" class="inner" title="$(course['name']))">$(course['name'])</a>
        </h3>

        <!-- Stats -->
        $# $if course['num_learners'] >= 1000:
        $#   $ num_learners = "{0:.2f}".format(float(course['num_learners']) / 1000) + "k"
        $# $else:
        $#   $ num_learners = str(course['num_learners'])

        $if progress['size'] < 60:
          $ duration = str(progress['size']) + "m"
        $else:
          $ duration = str(int(ceil(float(progress['size']) / 60))) + "h"

        <div class="details">
          <div class="stats">
            $#<span class="stat" title="$:(LANG.misc['course_learners'].replace('%', str(course['num_learners'])))">
            $#  <span class="ico ico-user"></span> $(num_learners)
            $#</span>
            <span class="stat" title="$:(LANG.misc['course_duration'].replace('%', duration))">
              <span class="ico ico-clock"></span> $(duration)
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>