$def with (course, selectboxes)
$var currentPage: courses
$var title: $(course['title']) - $(I18N.misc['spreadsheet'])
$var js: /static/js/markdown.min.js, /static/js/build/spreadsheet.js

$:(prender.inc_course_banner(course))

<div class="page-head">
  <div class="inner clearfix">

    <!-- Levels name -->
    <a href="$(course['url'])" class="pill">
      <i class="ico ico-list"></i>
      $(I18N.misc['levels']) ($(len(course['levels'])))
    </a>

    <!-- Link to leaderboard -->
    <a href="$(course['url'])leaderboard" class="pill">
      <i class="ico ico-trophy"></i>
      $(I18N.misc['leaderboard'])
    </a>

    <!-- Link to spreadsheet -->
    <button type="button" class="pill active">
      <i class="ico ico-list ico-white"></i>
      $(I18N.misc['spreadsheet'])
    </button>
  </div>
</div>

<main>
  <div id="course-container" class="inner">

    <!-- Add the selectboxes of levels / checkbox display alternatives -->
    <form class="nicebox" id="spreadsheet_conf">
      <legend class="form-label">$:(I18N.misc['export'])</legend>

      $if not selectboxes["0"] and not selectboxes["1"]:
        <input type="hidden" id="export0" value="1">

      <table>
      $if selectboxes["0"] or selectboxes["1"]:
        $if selectboxes["0"] and selectboxes["1"]:
          <tr class="form-group">
            <td class="form-inline form-ab">
              <input class="form-input chooseExport" type="radio"
                     id="chooseExport0" name="chooseExport" value="0" checked>
              <label class="form-label" for="chooseExport0">$:(I18N.misc['spreadsheet_things'])</label>
            </td>
            <td class="form-inline form-ab">
              <input class="form-input chooseExport" type="radio"
                     id="chooseExport1" name="chooseExport" value="1">
              <label class="form-label" for="chooseExport1">$:(I18N.misc['spreadsheet_multimedia'])</label>
            </td>
            <td class="form-inline form-ab">Options</td>
          </tr>

        <tr class="form-group">
          $if selectboxes["0"]:
           <td class="form-inline form-ab">
             <select id="export0" multiple>$:(selectboxes["0"])</select>
           </td>
          $if selectboxes["1"]:
           $ isDisabled = "disabled" if selectboxes["0"] else ""

           <td class="form-inline form-ab">
             <select id="export1" multiple $isDisabled>$:(selectboxes["1"])</select>
           </td>
          <td class="form-inline" valign="top">
            <div>
              <input class="form-input" type="checkbox"
                     id="exportAlt" name="exportAlt" value="1">
              <label class="form-label" for="exportAlt">$:(I18N.misc['export_opt_alternatives'])</label>

              <br>
              <input class="form-input" type="checkbox"
                     id="exportMore" name="exportMore" value="1">
              <label class="form-label" for="exportMore">$:(I18N.misc['export_opt_more'])</label>
            </div>
          </td>
        </tr>
      </table>

      <div class="actions">
        <button class="btn" type="submit" name="render">$:(I18N.misc['export_render'])</button>
        <button class="btn" type="submit" name="export">$:(I18N.misc['export_csv'])</button>
        <button type="button" id="exportInMemory" style="display: none"
                class="icon" title="$:(I18N.misc['export_csv_memory'])">&DownArrowBar;</button>
      </div>
    </form>
    <div id="spreadsheet"></div>
  </div>

  <script>
    window.MEMLIKE = window.MEMLIKE || {};
    window.MEMLIKE.course = $:json(course);
  </script>
</main>
