$def with (course, level, items)
$var currentPage: courses
$var js: /static/js/markdown.min.js
$var title: $(course['title']) $("" if level['index'] == 0 else " - " + str(level['index']))

$:(prender.inc_course_banner(course))

<div class="page-head">
  <div class="inner clearfix">

    <!-- Link to levels list -->
    $if len(course['levels']):
      <a href="$(course['url'])" class="pill">
        <i class="ico ico-list"></i>
        $(I18N.misc['levels']) ($(len(course['levels'])))
      </a>

      <!-- Level name -->
      <button type="button" class="pill active">
          $(level['index']) - $(level['name'])
      </button>
    $else:
      <button type="button" class="pill active">
          $(I18N.misc['levels']) ($(len(course['levels'])))
      </button>

      <a href="$(course['url'])leaderboard" class="pill">
        <i class="ico ico-trophy"></i>
        $(I18N.misc['leaderboard'])
      </a>

    <!-- Links to garden learn / preview -->
    $if level['type'] != 2:
      <button class="purple pill" data-toggle="#mode-selector" aria-expanded="false">$(I18N.misc['learn_level'])</button>

    $if session.loggedin and session.loggedin['username'] == course['author']:
      <a href="$(course['url'])edit#i_$(level['index'])" class="pill edit">$:(I18N.misc['edit_level'])</a>
  </div>
</div>

<main>
  <div id="course-container" class="inner">

    <!-- Pagination -->
    $def paginate(levels):
      $if len(levels) > 0:
        $ levels_keys = sorted(levels.keys(), key=int)

        $ i = levels_keys.index(str(level['index']))

        <div id="content-loader" class="paging clearfix">
          $if i > 0:
            $ prev_idx = levels_keys[i-1]

            <a href="$(course['url'])$(prev_idx)" class="paging-trigger prev">
              <span class="ico ico-arr-left"></span>
              <span class="page">$(prev_idx) &ndash; $(levels[prev_idx]['name'])</span>
            </a>
          $if i + 1 < len(levels_keys):
            $ next_idx = levels_keys[i+1]

            <a href="$(course['url'])$(next_idx)" class="paging-trigger next">
              <span class="page">$(next_idx) &ndash; $(levels[next_idx]['name'])</span>
              <span class="ico ico-arr-right"></span>
            </a>
        </div>

    $ pagination = paginate(course['levels'])

    $:(pagination)

    $if level["type"] == 1:
      $ inc = prender.inc_course_items(course, level, items)

      $ nb_things = inc.nb_things
      $ learned  = inc.learned
      $ ignored  = inc.ignored
      $ tolearn  = inc.tolearn
      $ toreview = inc.toreview

      <!-- Stats -->
      <div class="nicebox overall-summary">
        $ points    = learned
        $ maxPoints = nb_things - ignored
        $ counter   = str(points) + "/" + str(maxPoints)
        $ percent   = min(100, int(float(points) / maxPoints * 100) if maxPoints > 0 else 100)

        <!-- Text -->
        <ul class="numbers-summary">
          <li>$:(I18N.misc['number_words'].replace('%', "<strong>" + str(maxPoints) + "</strong>"))</li>
          <li>$:(I18N.misc['number_ignored'].replace('%', "<strong>" + str(ignored) + "</strong>"))</li>
          <li>$:(I18N.misc['number_learned'].replace('%', "<strong>" + str(points) + "</strong>"))</li>
          <li>$:(I18N.misc['number_review'].replace('%', "<strong>" + str(toreview) + "</strong>"))</li>
          <li>$:(I18N.misc['number_complete'].replace('%', "<strong>" + str(percent) + "</strong>%"))</li>
        </ul>

        <!-- Progress bar -->
        <div class="progress-bar" role="progressbar" aria-valuenow="$(points)" aria-valuemin="0" aria-valuemax="$(maxPoints)">
          <div class="counter">$(counter)</div>

          <div class="progress-bar-active yellow" style="clip-path: polygon(0 0, ${percent}% 0, ${percent}% 100%, 0 100%);">
            <div class="counter">$(counter)</div>
          </div>

          $if toreview:
            $ percentReview = int(float(points - toreview) / maxPoints * 100) if maxPoints > 0 else 0
            <div class="progress-bar-active blue" style="clip-path: polygon(${percentReview}% 0, ${percent}% 0, ${percent}% 100%, ${percentReview}% 100%);">
              <div class="counter">$(counter)</div>
            </div>
        </div>
      </div>

      <!-- List of items -->
      $if nb_things:
        $:inc
      $else:
        <div class="nicebox">$:(I18N.misc['learn_err_empty'])</div>

    $else:
      <div class="multimedia-wrapper nicebox inner-small loading-spinner" data-var="multimedia0">
        <script>var multimedia0 = $:(items);</script>
      </div>

    $if level["type"] == 1 and nb_things > 5:
      $:(pagination)
  </div>
</main>

$if level['type'] != 2:
  <!-- Link to garden -->
  <form id="mode-selector" method="GET" action="$(course['url'])$(level['index'])/garden" autocomplete="off">
    <div class="mode-selector">
      <h3 class="mode-selector-title">
        $if level['name']:
          $(level['index']) - $(level['name'])

        $elif len(course['levels']) > 0:
          $(level['index'])

        $else:
          $(course['title'])
        <button type="button" class="mode-selector-close">&times;</button>
      </h3>
      <div class="mode-icons">
        <button name="session_type" value="learn" class="mode-icon-wrapper $('disabled' if tolearn == 0 else None)">
          <div class="mode-icon learn">
            $if tolearn:
              <div class="mode-counter">$(tolearn)</div>
          </div>
          <div class="mode-icon-label">$:(I18N.misc['new_words'])</div>
        </button>
        <button name="session_type" value="classic_review" class="mode-icon-wrapper $('disabled' if learned == 0 else None)">
          <div class="mode-icon classic_review">
            $if toreview:
              <div class="mode-counter">$(toreview)</div>
          </div>
          <div class="mode-icon-label">$:(I18N.misc['classic_review'])</div>
        </button>
        <button name="session_type" value="speed_review" class="mode-icon-wrapper $('disabled' if learned == 0 else None)">
          <div class="mode-icon speed_review">&nbsp;</div>
          <div class="mode-icon-label">$:(I18N.misc['speed_review'])</div>
        </button>
        <button name="session_type" value="preview" class="mode-icon-wrapper $('disabled' if nb_things == 0 else None)">
          <div class="mode-icon preview">&nbsp;</div>
          <div class="mode-icon-label">$:(I18N.misc['preview'])</div>
        </button>
      </div>
      $if session["loggedin"]:
        <div class="mode-options">
          <div>
            <input type="checkbox" name="save_progress" value="1" id="save_progress" checked>
            <label for="save_progress">$:(I18N.misc['learn_settings_save_progress'])</label>
          </div>
          <div>
            <input type="checkbox" name="reverse_prompt_and_answer" value="1" id="reverse_prompt_and_answer">
            <label for="reverse_prompt_and_answer">$:(I18N.misc['learn_settings_reverse_prompt_and_answer'].replace('(', '<br>('))</label>
          </div>
          $if learned > 0:
            $ level_id = items.get('session_source_info', {}).get('level_id', None)

            $if level_id:
              <div class="danger-zone">
                <button type="button" class="ajax" data-href="$(course['url'])$(level['index'])/reset?level_id=$(level_id)" data-confirm="1">
                  $:(I18N.misc['reset_progress'])
                </button>
              </div>
        </div>
    </div>
  </form>
