$def with (course, level, items)
$var currentPage: courses
$var title: $(course['title']) $("- " + str(level['index']) if level else None)

<div class="page-banner">
  <div class="inner">

    <!-- Photo -->
    <img class="page-photo" src="$(course['photo'])" alt="$(course['title'])">
    <div class="page-details">

      <!-- Categories -->
      <ul class="page-breadcrumb">
        $ baseUrl = ""
        $for i, cat in enumerate(course['breadcrumb']):
          <li>
            $if i == 0:
              $ baseUrl = '/fr/courses/' + cat["name"]
              <a href="$baseUrl">$:(LANG.categories[cat['id']])</a>
            $else:
              <i class="ico ico-grey ico-arr-right ico-s"></i>
              <a href="$baseUrl/$(cat['name'])">$:(LANG.categories[cat['id']])</a>
          </li>
      </ul>

      <!-- Title + description -->
      <h1>$(course['title'])</h1>
      <p class="description">$(course['description'])</p>
    </div>

  </div>
</div>

<div class="page-head">
  <div class="inner">
    $if level:
      <a href="$(course['url'])" class="pill">
        <i class="ico ico-list"></i>
        $(LANG.misc['levels']) ($(len(course['levels'])))
      </a>

      <button type="button" class="pill active">
        $(level['index']) - $(level['name'])
      </button>
    $else:
      <button type="button" class="pill active">
        <i class="ico ico-list ico-white"></i>
        $(LANG.misc['levels']) ($(len(course['levels'])))
      </button>
  </div>
</div>

$def thing(item, attr):
  $ it = item[attr]
  <div class="$(attr) $(item[attr]['kind'])">
    $if it['kind'] == "text":
      $(it['value'])
    $elif it['kind'] == "image":
      <div class="media-list">
        $for img in it['value']:
          <img src="$img" class="text-image">
      </div>
    $elif it['kind'] == "audio":
      <div class="media-list">
        $for song in it['value']:
          <audio src="$(song['normal'])" class="audio-player ico ico-l ico-audio"></audio>
      </div>
  </div>

<main>
  <div id="course-container" class="inner">

    $if items:
      <!-- Level details -->
      <ul class="things">
        $for item in items['learnables']:
          <li class="thing">
            $:thing(item, 'item')
            $:thing(item, 'definition')
          </li>
      </ul>

      <!-- Pagination -->
      <div id="content-loader" class="paging clearfix">
        $if level['index'] > 1:
          $ idx = level['index']-1

          <a href="$(course['url'])$idx" class="paging-trigger prev">
            <span class="ico ico-arr-left"></span>
            <span class="page">$idx &ndash; $(course['levels'][str(idx)])</span>
          </a>
        $if level['index'] < len(course['levels']):
          $ idx = level['index']+1

          <a href="$(course['url'])$idx" class="paging-trigger next">
            <span class="page">$idx &ndash; $(course['levels'][str(idx)])</span>
            <span class="ico ico-arr-right"></span>
          </a>
      </div>

    $else:
      <!-- List of levels -->
      <ul class="levels">
        $for idx in sorted(course['levels'].keys(), key=int):
          <li class="level-box">
            <div class="level-card">
              <span class="level-index">$idx</span>
            </div>
            <a class="level" href="$(course['url'])$idx">
              <span class="level-title">$:(course['levels'][idx].replace("/", "<wbr>/"))</span>
            </a>
          </li>
      </ul>

  </div>
</main>