$def with (page, localized_languages, categories_tree, categories_to_display)
$var currentPage: courses
$var title: $(I18N.menu["courses"])
<!-- /courses/arabic/swedish/: List courses (might be filtered by category / language) -->

$ currentLang = page['lang']
<script>
  window.MEMLIKE = window.MEMLIKE || {};
  window.MEMLIKE.page = {
    currentLang  : "$(page['lang'])",
    currentCat   : "$(page['cat'])",
    currentCatId : "$(page['catId'])",
  };
</script>

<div class="page-head">
  <div class="inner-small">

    <!-- Filter courses written with given language -->
    <div class="btn-group filter-source dropdown">

      <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        $if currentLang in localized_languages:
          $ item = localized_languages[currentLang]
          $if "photo_url" in item:
            <img class="flag-circle" src="$(item['photo_url'])" alt="">
          $(item["localized_name"])
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        $for slug, item in localized_languages.items():
         <li>
           <a href="/community/courses/$(slug)/">
            $if "photo_url" in item:
              <img class="flag-circle" src="$(item['photo_url'])" alt="">
            $(item["localized_name"])
           </a>
         </li>
      </ul>
    </div>

    <!-- Page title-->
    <div class="page-title">
      <h1>$(I18N.menu["courses"])</h1>

      <h2 data-toggle=".filter-category">
        $if page["catId"]:
          $:(I18N.categories[page['catId']])
        $else:
          $(I18N.misc['all'])
      </h2>
    </div>

    <!-- List of categories -->
    $def tree(list):
      $for item in list:
        $if item['id'] in categories_to_display:
          $ id   = item['id']
          $ slug = item['slug']
          $ name = I18N.categories[id]
          $ children = []

          $if "children" in item:
            $ children = [x for x in item["children"] if x['id'] in categories_to_display]

          <li data-category-id="$(id)">
            $if len(children) > 0:
              <a href="/community/courses/$(currentLang)/$(slug)/" title="$:(name)">
                  <span class="ico expand-icon ico-s"></span>
                  $:(name)
              </a>
              <ul>
                <li>
                  <a data-category-leaf="" href="/community/courses/$(currentLang)/$(slug)/" class="$('active' if item['id'] == page['catId'] else '')">
                    $(I18N.misc['all']) $:(name)
                  </a>
                  </li>
                  $:tree(children)
              </ul>
            $else:
              <a data-category-leaf="" href="/community/courses/$(currentLang)/$(slug)/" title="$:(name)" class="$('active' if item['id'] == page['catId'] else '')">
                $:(name)
              </a>
          </li>

    <div class="slider hide filter-category">
      <ul class="categories-list" data-role="tree-navigation">$:tree(categories_tree)</ul>
    </div>

  </div>
</div>

<main>
  <div class="inner-small">

    <!-- Search course -->
    <form method="GET">
      <div class="btn-group pull-right search-box">
        <input name="q" placeholder="$(I18N.misc['search'])..." value="$(page['q'])" type="text">
        <button type="submit" class="btn-default btn-ico">
            <span class="ico ico-search"></span>
        </button>
      </div>
    </form>

    <!-- List of courses -->
    <div id="courses-container"></div>

    <!-- Pagination -->
    <div id="content-loader" class="paging clearfix">
      <span class="paging-loader loading-spinner"></span>
      <a class="paging-trigger prev" style="display: none">
        <span class="ico ico-arr-left"></span>
        <span class="page"></span>
      </a>
      <a class="paging-trigger next" style="display: none">
        <span class="page"></span>
        <span class="ico ico-arr-right"></span>
      </a>
    </div>

  </div>
</main>
