$def with (categories_tree, localized_languages, data)
$var currentPage: courses

$ errors = flash.get('err', {})

<div class="page-banner small">
  <div class="inner">
    <h1>
      $(I18N.misc['add_course'])
    </h1>
  </div>
</div>

<main>
  <form method="POST" class="container nicebox">
    <div class="inner">

      <div class="form-controls">
        <label for="name">$(I18N.misc['course_name'])</label>
        <input id="name" name="name" type="text" value="$(data.get('name', ''))" required>
      </div>
      $if 'name' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      $def tree(list, selected, prefix=""):
        $for item in list:
          $ id   = item['id']
          $ name = I18N.categories[id]
          $ isSelected = "selected" if id == selected else ""

          <option value="$(id)" $isSelected>
            $(prefix) $:(name)
          </option>
          $if "children" in item and len(item["children"]) > 0:
            $:tree(item["children"], selected, prefix + " ")

      <!-- What to learn -->
      <div class="form-controls">
        <label for="category">$(I18N.misc['course_category'])</label>
        $ category = data.get('category', '')

        <select id="category" name="category" required>
          <option value=""></option>
          $:tree(categories_tree, category, "")
        </select>
      </div>
      $if 'category' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      <!-- For people that speak -->
      <div class="form-controls">
        <label for="language">$(I18N.misc['course_language'])</label>
        <select id="language" name="language" required>
          <option value=""></option>

          $for slug, item in localized_languages.items():
            $ isSelected = "selected" if data.get('language', '') == slug else ""

            <option value="$(slug)" $isSelected>
              $(item["localized_name"])
            </option>
        </select>
      </div>
      $if 'language' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      <div className="form-controls">
        <label htmlFor="tags">$(I18N.misc['course_tags'])</label>
        <input
          id="tags"
          name="tags"
          type="text"
          value="$(data.get('tags', ''))"
        />
      </div>
      $if 'tags' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      <div className="form-controls">
        <label htmlFor="description">$(I18N.misc['course_description'])</label>
        <textarea
          id="description"
          name="description"
          rows="5"
          cols="50"
          value="$(data.get('description', ''))"
        />
      </div>
      $if 'description' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      <div className="form-controls">
        <label htmlFor="short_description">$(I18N.misc['course_short_description'])</label>
        <input
          id="short_description"
          name="short_description"
          type="text"
          value="$(data.get('short_description', ''))"
        />
      </div>
      $if 'short_description' in errors:
        <div class="alert alert-danger">$(I18N.misc['invalid_value'])</div>

      <div class="form-controls">
        <button class="btn green" type="submit">
          $(I18N.misc['submit'])
        </button>
      </div>
    </div>
  </form>
</main>
