$def with (course, categories_tree, localized_languages)
$var currentPage: courses
$var js: /static/js/preact.min.js, /static/js/jquery.csv.min.js, /static/js/markdown.min.js, /static/js/edit.js

<div class="page-banner small">
  <div class="inner">
    <h1>
      <a href="$(course['url'])">$(course['title'])</a>
    </h1>
  </div>
</div>

<main>
  <div id="edit-levels"></div>
  <script>
    window.MEMLIKE = window.MEMLIKE || {};
    window.MEMLIKE.course = $:json(course);
    window.MEMLIKE.categories_tree = $:json(categories_tree);
    window.MEMLIKE.languages = $:json(localized_languages);
  </script>
</main>
