$def with (course, tab, level, items)
$var currentPage: courses
$var js: /static/js/markdown.min.js

$if tab == "level":
  $var title: $(course['title']) - $(level['index'])
$elif tab == "leaderboard":
  $var title: $(course['title']) - $(LANG.misc['leaderboard'])
$else:
  $var title: $(course['title'])

<div class="page-banner">
  <div class="inner">

    <!-- Photo -->
    <img class="page-photo" src="$(course['photo'])" alt="$(course['title'])">
    <div class="page-details">

      <!-- Categories -->
      <ul class="page-breadcrumb">
        $ baseUrl = ""
        $for i, cat in enumerate(course['breadcrumb']):
          <li>
            $if i == 0:
              $ baseUrl = '/fr/courses/' + cat["name"]
              <a href="$baseUrl">$:(LANG.categories[cat['id']])</a>
            $else:
              <i class="ico ico-grey ico-arr-right ico-s"></i>
              <a href="$baseUrl/$(cat['name'])">$:(LANG.categories[cat['id']])</a>
          </li>
      </ul>

      <!-- Title + description -->
      <h1>$(course['title'])</h1>
      <p class="description">$(course['description'])</p>
    </div>

  </div>
</div>

<div class="page-head">
  <div class="inner clearfix">
    $if tab == "level":
      <!-- Link to levels list -->
      <a href="$(course['url'])" class="pill">
        <i class="ico ico-list"></i>
        $(LANG.misc['levels']) ($(len(course['levels'])))
      </a>

      <!-- Level name -->
      <button type="button" class="pill active">
        $(level['index']) - $(level['name'])
      </button>

      <!-- Links to garden learn / preview -->
      $if level['type'] != 2:
        <div class="dropdown go-learn">
          <button class="dropdown-toggle pill green" data-toggle="dropdown" aria-expanded="false">$(LANG.misc['learn_level'])</button>
          <ul class="dropdown-menu">
            <li>
              <a href="$(course['url'] + str(level['index']))/garden/learn">
                $(LANG.misc['memorize'])
              </a>
            </li>
            <li>
              <a href="$(course['url'] + str(level['index']))/garden/preview">
                $(LANG.misc['preview'])
              </a>
            </li>
          </ul>
        </div>

    $elif tab == "leaderboard":
      <!-- Levels name -->
      <a href="$(course['url'])" class="pill">
        <i class="ico ico-list"></i>
        $(LANG.misc['levels']) ($(len(course['levels'])))
      </a>

      <!-- Link to leaderboard -->
      <button type="button" class="pill active">
        <i class="ico ico-trophy ico-white"></i>
        $(LANG.misc['leaderboard'])
      </button>

    $else:
      <!-- Levels name -->
      <button type="button" class="pill active">
        <i class="ico ico-list ico-white"></i>
        $(LANG.misc['levels']) ($(len(course['levels'])))
      </button>

      <!-- Link to leaderboard -->
      <a href="$(course['url'])leaderboard" class="pill">
        <i class="ico ico-trophy"></i>
        $(LANG.misc['leaderboard'])
      </a>

      <!-- Links to garden learn / preview -->
      <div class="dropdown go-learn">
        <button class="dropdown-toggle pill green" data-toggle="dropdown" aria-expanded="false">$(LANG.misc['learn_course'])</button>
        <ul class="dropdown-menu">
          <li>
            <a href="$(course['url'])garden/learn">
              $(LANG.misc['memorize'])
            </a>
          </li>
          <li>
            <a href="$(course['url'])garden/preview">
              $(LANG.misc['preview'])
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>

$def thing(item, attr):
  $ it = item[attr]
  <div class="$(attr) $(item[attr]['kind'])">
    $if it['kind'] == "text":
      $(it['value'])
    $elif it['kind'] == "image":
      <div class="media-list">
        $for img in it['value']:
          <img src="$img" class="text-image">
      </div>
    $elif it['kind'] == "audio":
      <div class="media-list">
        $for song in it['value']:
          <audio src="$(song['normal'])" class="audio-player ico ico-l ico-audio"></audio>
      </div>
  </div>

<main>
  <div id="course-container" class="inner">

    $if tab == "level":
      <!-- Level details -->
      $if level["type"] == 1:
        <ul class="things">
          $for item in items['learnables']:
            <li class="thing">
              $:thing(item, 'item')
              $:thing(item, 'definition')
              <a href="$(course['url'])$(str(level['index']))/$(item['learnable_id'])" class="ico ico-thin-arr-right view-detail"></a>
            </li>
        </ul>
      $else:
        <div class="multimedia-wrapper nicebox inner-small loading-spinner" data-var="multimedia0">
          <script>var multimedia0 = $:(items);</script>
        </div>

      <!-- Pagination -->
      <div id="content-loader" class="paging clearfix">
        $if level['index'] > 1:
          $ idx = level['index']-1

          <a href="$(course['url'])$idx" class="paging-trigger prev">
            <span class="ico ico-arr-left"></span>
            <span class="page">$idx &ndash; $(course['levels'][str(idx)]['name'])</span>
          </a>
        $if level['index'] < len(course['levels']):
          $ idx = level['index']+1

          <a href="$(course['url'])$idx" class="paging-trigger next">
            <span class="page">$idx &ndash; $(course['levels'][str(idx)]['name'])</span>
            <span class="ico ico-arr-right"></span>
          </a>
      </div>

    $elif tab == "leaderboard":
      <div class="leaderboard nicebox">
        <div class="leaderboard-controls">
          <div class="btn-group">
            $for period in ['week', 'month', 'alltime']:
              <a class="btn btn-small $('active' if level == period else None)" href="?period=$period">$(LANG.misc[period])</a>
          </div>
        </div>

        <!-- List of scores -->
        <ul class="leaderboard-content">
          $for item in items['rows']:
            <li class="leaderboard-row $('current' if session['loggedin'] and item['username'] == session['loggedin']['username'] else None)">
              <a href="/user/$(item['username'])/">
                <span class="row-pic">
                  <strong>$(item['position']).</strong>
                  <img src="$(item['photo'])">
                </span>
                <span class="row-username">
                  <span data-role="hovercard" data-user-id="$(item['uid'])" data-direction="right">$(item['username'])</span>
                </span>
                <span class="row-points $('best' if item['position'] == 1 else None)">
                  <span>$(number_format(item['points']))</span>
                </span>
              </a>
            </li>
        </ul>
      </div>

    $else:
      $if level:
        <div class="nicebox overall-summary">

          <!-- Stats -->
          <ul class="numbers-summary">
            <li>$:(LANG.misc['number_words'].replace('%', "<strong>" + str(level['num_things'] - level['ignored']) + "</strong>"))</li>
            <li>$:(LANG.misc['number_ignored'].replace('%', "<strong>" + str(level['ignored']) + "</strong>"))</li>
            <li>$:(LANG.misc['number_learned'].replace('%', "<strong>" + str(level['learned']) + "</strong>"))</li>
            <li>$:(LANG.misc['number_review'].replace('%', "<strong>" + str(level['review']) + "</strong>"))</li>
            <li>$:(LANG.misc['number_complete'].replace('%', "<strong>" + str(level['percent_complete']) + "</strong>%"))</li>
          </ul>

          <!-- Progress bar -->
          $ points    = level['learned']
          $ maxPoints = level['num_things'] - level['ignored']
          $ counter   = str(points) + "/" + str(maxPoints)

          <div class="progress-bar" role="progressbar" aria-valuenow="$points" aria-valuemin="0" aria-valuemax="$maxPoints">
            <div class="counter">$counter</div>

            $if level['percent_complete']:
              $ percent = level['percent_complete']
              <div class="progress-bar-active yellow" style="clip-path: polygon(0 0, ${percent}% 0, ${percent}% 100%, 0 100%);">
                <div class="counter">$counter</div>
              </div>

            $if level['review']:
              $ percentReview = int(float(points - level['review']) / maxPoints * 100)
              <div class="progress-bar-active blue" style="clip-path: polygon(${percentReview}% 0, ${percent}% 0, ${percent}% 100%, ${percentReview}% 100%);">
                <div class="counter">$counter</div>
              </div>
          </div>

        </div>

      <!-- List of levels -->
      <ul class="levels">
        $for idx in sorted(course['levels'].keys(), key=int):
          $ level = course['levels'][str(idx)]
          <li class="level-box $('multimedia' if level['type'] == 2 else 'learn')">
            <div class="level-card">
              <span class="level-index">$idx</span>
            </div>
            <a class="level" href="$(course['url'])$idx">
              <span class="level-title">$:(level['name'].replace("/", "<wbr>/"))</span>
            </a>
          </li>
      </ul>

  </div>
</main>