
<main>
  <div>
    <h1>Icons</h1>
    <span class="ico ico-search"></span>
    <span class="ico ico-loop"></span>
    <span class="ico ico-clock"></span>
    <span class="ico ico-user"></span>
    <span class="ico ico-arr-right"></span>
    <span class="ico ico-arr-left"></span>
    <span class="ico ico-arr-right"></span>
    <span class="ico ico-list"></span>
    <span class="ico ico-audio"></span>
    <span class="ico ico-audio"></span>
    <span class="ico ico-thin-arr-right"></span>
    <span class="ico ico-trophy"></span>
    <span class="ico ico-question"></span>
    <span class="ico ico-correct"></span>
    <span class="ico ico-close"></span>
    <span class="ico ico-trash"></span>
  </div>

  <div>
    <h1>Origin icons</h1>
    <style>
      .ico-seed { background-position:0px 0px; }
      .ico-seed.ico-s { background-position:0px 0px; }
      .ico-seed.ico-m { background-position:0px 0px; }
      .ico-seed.ico-l { background-position:0px 0px; }
      .ico-seed.ico-xl { background-position:0px 0px; }
      .ico-water { background-position:-18px 0px; }
      .ico-water.ico-s { background-position:-12px 0px; }
      .ico-water.ico-m { background-position:-26px 0px; }
      .ico-water.ico-l { background-position:-32px 0px; }
      .ico-water.ico-xl { background-position:-48px 0px; }
      .ico-sun { background-position:-36px 0px; }
      .ico-sun.ico-s { background-position:-24px 0px; }
      .ico-sun.ico-m { background-position:-52px 0px; }
      .ico-sun.ico-l { background-position:-64px 0px; }
      .ico-sun.ico-xl { background-position:-96px 0px; }
      .ico-flower { background-position:-54px 0px; }
      .ico-flower.ico-s { background-position:-36px 0px; }
      .ico-flower.ico-m { background-position:-78px 0px; }
      .ico-flower.ico-l { background-position:-96px 0px; }
      .ico-flower.ico-xl { background-position:-144px 0px; }
      .ico-question { background-position:-72px 0px; }
      .ico-question.ico-s { background-position:-48px 0px; }
      .ico-question.ico-m { background-position:-104px 0px; }
      .ico-question.ico-l { background-position:-128px 0px; }
      .ico-question.ico-xl { background-position:-192px 0px; }
      .ico-stats { background-position:-90px 0px; }
      .ico-stats.ico-s { background-position:-60px 0px; }
      .ico-stats.ico-m { background-position:-130px 0px; }
      .ico-stats.ico-l { background-position:-160px 0px; }
      .ico-stats.ico-xl { background-position:-240px 0px; }
      .ico-thumbs-up { background-position:-108px 0px; }
      .ico-thumbs-up.ico-s { background-position:-72px 0px; }
      .ico-thumbs-up.ico-m { background-position:-156px 0px; }
      .ico-thumbs-up.ico-l { background-position:-192px 0px; }
      .ico-thumbs-up.ico-xl { background-position:-288px 0px; }
      .ico-arr-left { background-position:0px -18px; }
      .ico-arr-left.ico-s { background-position:0px -12px; }
      .ico-arr-left.ico-m { background-position:0px -26px; }
      .ico-arr-left.ico-l { background-position:0px -32px; }
      .ico-arr-left.ico-xl { background-position:0px -48px; }
      .ico-arr-down { background-position:-18px -18px; }
      .ico-arr-down.ico-s { background-position:-12px -12px; }
      .ico-arr-down.ico-m { background-position:-26px -26px; }
      .ico-arr-down.ico-l { background-position:-32px -32px; }
      .ico-arr-down.ico-xl { background-position:-48px -48px; }
      .ico-arr-up { background-position:-36px -18px; }
      .ico-arr-up.ico-s { background-position:-24px -12px; }
      .ico-arr-up.ico-m { background-position:-52px -26px; }
      .ico-arr-up.ico-l { background-position:-64px -32px; }
      .ico-arr-up.ico-xl { background-position:-96px -48px; }
      .ico-arr-right { background-position:-54px -18px; }
      .ico-arr-right.ico-s { background-position:-36px -12px; }
      .ico-arr-right.ico-m { background-position:-78px -26px; }
      .ico-arr-right.ico-l { background-position:-96px -32px; }
      .ico-arr-right.ico-xl { background-position:-144px -48px; }
      .ico-home { background-position:-72px -18px; }
      .ico-home.ico-s { background-position:-48px -12px; }
      .ico-home.ico-m { background-position:-104px -26px; }
      .ico-home.ico-l { background-position:-128px -32px; }
      .ico-home.ico-xl { background-position:-192px -48px; }
      .ico-star { background-position:-90px -18px; }
      .ico-star.ico-s { background-position:-60px -12px; }
      .ico-star.ico-m { background-position:-130px -26px; }
      .ico-star.ico-l { background-position:-160px -32px; }
      .ico-star.ico-xl { background-position:-240px -48px; }
      .ico-pin { background-position:-108px -18px; }
      .ico-pin.ico-s { background-position:-72px -12px; }
      .ico-pin.ico-m { background-position:-156px -26px; }
      .ico-pin.ico-l { background-position:-192px -32px; }
      .ico-pin.ico-xl { background-position:-288px -48px; }
      .ico-search { background-position:0px -36px; }
      .ico-search.ico-s { background-position:0px -24px; }
      .ico-search.ico-m { background-position:0px -52px; }
      .ico-search.ico-l { background-position:0px -64px; }
      .ico-search.ico-xl { background-position:0px -96px; }
      .ico-close { background-position:-18px -36px; }
      .ico-close.ico-s { background-position:-12px -24px; }
      .ico-close.ico-m { background-position:-26px -52px; }
      .ico-close.ico-l { background-position:-32px -64px; }
      .ico-close.ico-xl { background-position:-48px -96px; }
      .ico-correct { background-position:-36px -36px; }
      .ico-correct.ico-s { background-position:-24px -24px; }
      .ico-correct.ico-m { background-position:-52px -52px; }
      .ico-correct.ico-l { background-position:-64px -64px; }
      .ico-correct.ico-xl { background-position:-96px -96px; }
      .ico-plus { background-position:-54px -36px; }
      .ico-plus.ico-s { background-position:-36px -24px; }
      .ico-plus.ico-m { background-position:-78px -52px; }
      .ico-plus.ico-l { background-position:-96px -64px; }
      .ico-plus.ico-xl { background-position:-144px -96px; }
      .ico-minus { background-position:-72px -36px; }
      .ico-minus.ico-s { background-position:-48px -24px; }
      .ico-minus.ico-m { background-position:-104px -52px; }
      .ico-minus.ico-l { background-position:-128px -64px; }
      .ico-minus.ico-xl { background-position:-192px -96px; }
      .ico-settings { background-position:-90px -36px; }
      .ico-settings.ico-s { background-position:-60px -24px; }
      .ico-settings.ico-m { background-position:-130px -52px; }
      .ico-settings.ico-l { background-position:-160px -64px; }
      .ico-settings.ico-xl { background-position:-240px -96px; }
      .ico-hi-five { background-position:-108px -36px; }
      .ico-hi-five.ico-s { background-position:-72px -24px; }
      .ico-hi-five.ico-m { background-position:-156px -52px; }
      .ico-hi-five.ico-l { background-position:-192px -64px; }
      .ico-hi-five.ico-xl { background-position:-288px -96px; }
      .ico-look { background-position:0px -54px; }
      .ico-look.ico-s { background-position:0px -36px; }
      .ico-look.ico-m { background-position:0px -78px; }
      .ico-look.ico-l { background-position:0px -96px; }
      .ico-look.ico-xl { background-position:0px -144px; }
      .ico-shuffle { background-position:-18px -54px; }
      .ico-shuffle.ico-s { background-position:-12px -36px; }
      .ico-shuffle.ico-m { background-position:-26px -78px; }
      .ico-shuffle.ico-l { background-position:-32px -96px; }
      .ico-shuffle.ico-xl { background-position:-48px -144px; }
      .ico-audio { background-position:-36px -54px; }
      .ico-audio.ico-s { background-position:-24px -36px; }
      .ico-audio.ico-m { background-position:-52px -78px; }
      .ico-audio.ico-l { background-position:-64px -96px; }
      .ico-audio.ico-xl { background-position:-96px -144px; }
      .ico-like { background-position:-54px -54px; }
      .ico-like.ico-s { background-position:-36px -36px; }
      .ico-like.ico-m { background-position:-78px -78px; }
      .ico-like.ico-l { background-position:-96px -96px; }
      .ico-like.ico-xl { background-position:-144px -144px; }
      .ico-talk { background-position:-72px -54px; }
      .ico-talk.ico-s { background-position:-48px -36px; }
      .ico-talk.ico-m { background-position:-104px -78px; }
      .ico-talk.ico-l { background-position:-128px -96px; }
      .ico-talk.ico-xl { background-position:-192px -144px; }
      .ico-world { background-position:-90px -54px; }
      .ico-world.ico-s { background-position:-60px -36px; }
      .ico-world.ico-m { background-position:-130px -78px; }
      .ico-world.ico-l { background-position:-160px -96px; }
      .ico-world.ico-xl { background-position:-240px -144px; }
      .ico-mute { background-position:-108px -54px; }
      .ico-mute.ico-s { background-position:-72px -36px; }
      .ico-mute.ico-m { background-position:-156px -78px; }
      .ico-mute.ico-l { background-position:-192px -96px; }
      .ico-mute.ico-xl { background-position:-288px -144px; }
      .ico-top { background-position:0px -72px; }
      .ico-top.ico-s { background-position:0px -48px; }
      .ico-top.ico-m { background-position:0px -104px; }
      .ico-top.ico-l { background-position:0px -128px; }
      .ico-top.ico-xl { background-position:0px -192px; }
      .ico-trash { background-position:-18px -72px; }
      .ico-trash.ico-s { background-position:-12px -48px; }
      .ico-trash.ico-m { background-position:-26px -104px; }
      .ico-trash.ico-l { background-position:-32px -128px; }
      .ico-trash.ico-xl { background-position:-48px -192px; }
      .ico-bolt { background-position:-36px -72px; }
      .ico-bolt.ico-s { background-position:-24px -48px; }
      .ico-bolt.ico-m { background-position:-52px -104px; }
      .ico-bolt.ico-l { background-position:-64px -128px; }
      .ico-bolt.ico-xl { background-position:-96px -192px; }
      .ico-loop { background-position:-54px -72px; }
      .ico-loop.ico-s { background-position:-36px -48px; }
      .ico-loop.ico-m { background-position:-78px -104px; }
      .ico-loop.ico-l { background-position:-96px -128px; }
      .ico-loop.ico-xl { background-position:-144px -192px; }
      .ico-trophy { background-position:-72px -72px; }
      .ico-trophy.ico-s { background-position:-48px -48px; }
      .ico-trophy.ico-m { background-position:-104px -104px; }
      .ico-trophy.ico-l { background-position:-128px -128px; }
      .ico-trophy.ico-xl { background-position:-192px -192px; }
      .ico-degree { background-position:-90px -72px; }
      .ico-degree.ico-s { background-position:-60px -48px; }
      .ico-degree.ico-m { background-position:-130px -104px; }
      .ico-degree.ico-l { background-position:-160px -128px; }
      .ico-degree.ico-xl { background-position:-240px -192px; }
      .ico-temple { background-position:-108px -72px; }
      .ico-temple.ico-s { background-position:-72px -48px; }
      .ico-temple.ico-m { background-position:-156px -104px; }
      .ico-temple.ico-l { background-position:-192px -128px; }
      .ico-temple.ico-xl { background-position:-288px -192px; }
      .ico-mem { background-position:0px -90px; }
      .ico-mem.ico-s { background-position:0px -60px; }
      .ico-mem.ico-m { background-position:0px -130px; }
      .ico-mem.ico-l { background-position:0px -160px; }
      .ico-mem.ico-xl { background-position:0px -240px; }
      .ico-user { background-position:-18px -90px; }
      .ico-user.ico-s { background-position:-12px -60px; }
      .ico-user.ico-m { background-position:-26px -130px; }
      .ico-user.ico-l { background-position:-32px -160px; }
      .ico-user.ico-xl { background-position:-48px -240px; }
      .ico-twitter { background-position:-36px -90px; }
      .ico-twitter.ico-s { background-position:-24px -60px; }
      .ico-twitter.ico-m { background-position:-52px -130px; }
      .ico-twitter.ico-l { background-position:-64px -160px; }
      .ico-twitter.ico-xl { background-position:-96px -240px; }
      .ico-facebook { background-position:-54px -90px; }
      .ico-facebook.ico-s { background-position:-36px -60px; }
      .ico-facebook.ico-m { background-position:-78px -130px; }
      .ico-facebook.ico-l { background-position:-96px -160px; }
      .ico-facebook.ico-xl { background-position:-144px -240px; }
      .ico-gplus { background-position:-72px -162px; }
      .ico-gplus.ico-s { background-position:-48px -108px; }
      .ico-gplus.ico-m { background-position:-104px -234px; }
      .ico-gplus.ico-l { background-position:-128px -288px; }
      .ico-gplus.ico-xl { background-position:-192px -432px; }
      .ico-bubble { background-position:-72px -90px; }
      .ico-bubble.ico-s { background-position:-48px -60px; }
      .ico-bubble.ico-m { background-position:-104px -130px; }
      .ico-bubble.ico-l { background-position:-128px -160px; }
      .ico-bubble.ico-xl { background-position:-192px -240px; }
      .ico-edit { background-position:-90px -90px; }
      .ico-edit.ico-s { background-position:-60px -60px; }
      .ico-edit.ico-m { background-position:-130px -130px; }
      .ico-edit.ico-l { background-position:-160px -160px; }
      .ico-edit.ico-xl { background-position:-240px -240px; }
      .ico-stop { background-position:-108px -90px; }
      .ico-stop.ico-s { background-position:-72px -60px; }
      .ico-stop.ico-m { background-position:-156px -130px; }
      .ico-stop.ico-l { background-position:-192px -160px; }
      .ico-stop.ico-xl { background-position:-288px -240px; }
      .ico-tag { background-position:0px -108px; }
      .ico-tag.ico-s { background-position:0px -72px; }
      .ico-tag.ico-m { background-position:0px -156px; }
      .ico-tag.ico-l { background-position:0px -192px; }
      .ico-tag.ico-xl { background-position:0px -288px; }
      .ico-media { background-position:-18px -108px; }
      .ico-med a.ico-s { background-position:-12px -72px; }
      .ico-med a.ico-m { background-position:-26px -156px; }
      .ico-med a.ico-l { background-position:-32px -192px; }
      .ico-med a.ico-xl { background-position:-48px -288px; }
      .ico-clock { background-position:-36px -108px; }
      .ico-clock.ico-s { background-position:-24px -72px; }
      .ico-clock.ico-m { background-position:-52px -156px; }
      .ico-clock.ico-l { background-position:-64px -192px; }
      .ico-clock.ico-xl { background-position:-96px -288px; }
      .ico-lock { background-position:-54px -108px; }
      .ico-lock.ico-s { background-position:-36px -72px; }
      .ico-lock.ico-m { background-position:-78px -156px; }
      .ico-lock.ico-l { background-position:-96px -192px; }
      .ico-lock.ico-xl { background-position:-144px -288px; }
      .ico-lab { background-position:-72px -108px; }
      .ico-lab.ico-s { background-position:-48px -72px; }
      .ico-lab.ico-m { background-position:-104px -156px; }
      .ico-lab.ico-l { background-position:-128px -192px; }
      .ico-lab.ico-xl { background-position:-192px -288px; }
      .ico-envelope { background-position:-90px -108px; }
      .ico-envelope.ico-s { background-position:-60px -72px; }
      .ico-envelope.ico-m { background-position:-130px -156px; }
      .ico-envelope.ico-l { background-position:-160px -192px; }
      .ico-envelope.ico-xl { background-position:-240px -288px; }
      .ico-list { background-position:-108px -108px; }
      .ico-list.ico-s { background-position:-72px -72px; }
      .ico-list.ico-m { background-position:-156px -156px; }
      .ico-list.ico-l { background-position:-192px -192px; }
      .ico-list.ico-xl { background-position:-288px -288px; }
      .ico-backward { background-position:-18px -126px; }
      .ico-backward.ico-s { background-position:-12px -84px; }
      .ico-backward.ico-m { background-position:-26px -182px; }
      .ico-backward.ico-l { background-position:-32px -224px; }
      .ico-backward.ico-xl { background-position:-48px -336px; }
      .ico-forward { background-position:-36px -126px; }
      .ico-forward.ico-s { background-position:-24px -84px; }
      .ico-forward.ico-m { background-position:-52px -182px; }
      .ico-forward.ico-l { background-position:-64px -224px; }
      .ico-forward.ico-xl { background-position:-96px -336px; }
      .ico-rewind { background-position:-54px -126px; }
      .ico-rewind.ico-s { background-position:-36px -84px; }
      .ico-rewind.ico-m { background-position:-78px -182px; }
      .ico-rewind.ico-l { background-position:-96px -224px; }
      .ico-rewind.ico-xl { background-position:-144px -336px; }
      .ico-finish { background-position:-72px -126px; }
      .ico-finish.ico-s { background-position:-48px -84px; }
      .ico-finish.ico-m { background-position:-104px -182px; }
      .ico-finish.ico-l { background-position:-128px -224px; }
      .ico-finish.ico-xl { background-position:-192px -336px; }
      .ico-press { background-position:-90px -126px; }
      .ico-press.ico-s { background-position:-60px -84px; }
      .ico-press.ico-m { background-position:-130px -182px; }
      .ico-press.ico-l { background-position:-160px -224px; }
      .ico-press.ico-xl { background-position:-240px -336px; }
      .ico-brain { background-position:-108px -126px; }
      .ico-brain.ico-s { background-position:-72px -84px; }
      .ico-brain.ico-m { background-position:-156px -182px; }
      .ico-brain.ico-l { background-position:-192px -224px; }
      .ico-brain.ico-xl { background-position:-288px -336px; }
      .ico-mobile { background-position:0px -144px; }
      .ico-mobile.ico-s { background-position:0px -96px; }
      .ico-mobile.ico-m { background-position:0px -208px; }
      .ico-mobile.ico-l { background-position:0px -256px; }
      .ico-mobile.ico-xl { background-position:0px -384px; }
      .ico-circle { background-position:-18px -144px; }
      .ico-circle.ico-s { background-position:-12px -96px; }
      .ico-circle.ico-m { background-position:-26px -208px; }
      .ico-circle.ico-l { background-position:-32px -256px; }
      .ico-circle.ico-xl { background-position:-48px -384px; }
      .ico-flag { background-position:-36px -144px; }
      .ico-flag.ico-s { background-position:-24px -96px; }
      .ico-flag.ico-m { background-position:-52px -208px; }
      .ico-flag.ico-l { background-position:-64px -256px; }
      .ico-flag.ico-xl { background-position:-96px -384px; }
      .ico-re-order { background-position:-54px -144px; }
      .ico-re-order.ico-s { background-position:-36px -96px; }
      .ico-re-order.ico-m { background-position:-78px -208px; }
      .ico-re-order.ico-l { background-position:-96px -256px; }
      .ico-re-order.ico-xl { background-position:-144px -384px; }
      .ico-people { background-position:-72px -144px; }
      .ico-people.ico-s { background-position:-48px -96px; }
      .ico-people.ico-m { background-position:-104px -208px; }
      .ico-people.ico-l { background-position:-128px -256px; }
      .ico-people.ico-xl { background-position:-192px -384px; }
      .ico-follow { background-position:-90px -144px; }
      .ico-follow.ico-s { background-position:-60px -96px; }
      .ico-follow.ico-m { background-position:-130px -208px; }
      .ico-follow.ico-l { background-position:-160px -256px; }
      .ico-follow.ico-xl { background-position:-240px -384px; }
      .ico-ignore { background-position:-108px -144px; }
      .ico-ignore.ico-s { background-position:-72px -96px; }
      .ico-ignore.ico-m { background-position:-156px -208px; }
      .ico-ignore.ico-l { background-position:-192px -256px; }
      .ico-ignore.ico-xl { background-position:-288px -384px; }
      .ico-shortcuts { background-position:0px -162px; }
      .ico-shortcuts.ico-s { background-position:0px -108px; }
      .ico-shortcuts.ico-m { background-position:0px -234px; }
      .ico-shortcuts.ico-l { background-position:0px -288px; }
      .ico-shortcuts.ico-xl { background-position:0px -432px; }
      .ico-pause { background-position:-18px -162px; }
      .ico-pause.ico-s { background-position:-12px -108px; }
      .ico-pause.ico-m { background-position:-26px -234px; }
      .ico-pause.ico-l { background-position:-32px -288px; }
      .ico-pause.ico-xl { background-position:-48px -432px; }
      .ico-play { background-position:-36px -162px; }
      .ico-play.ico-s { background-position:-24px -108px; }
      .ico-play.ico-m { background-position:-52px -234px; }
      .ico-play.ico-l { background-position:-64px -288px; }
      .ico-play.ico-xl { background-position:-96px -432px; }
      .ico-thin-arr-left { background-position:-54px -162px; }
      .ico-thin-arr-left.ico-s { background-position:-36px -108px; }
      .ico-thin-arr-left.ico-m { background-position:-78px -234px; }
      .ico-thin-arr-left.ico-l { background-position:-96px -288px; }
      .ico-thin-arr-left.ico-xl { background-position:-144px -432px; }
    </style>
    <span class="ico ico-seed"></span>
    <span class="ico ico-seed ico-s"></span>
    <span class="ico ico-seed ico-m"></span>
    <span class="ico ico-seed ico-l"></span>
    <span class="ico ico-seed ico-xl"></span>
    <span class="ico ico-water"></span>
    <span class="ico ico-water ico-s"></span>
    <span class="ico ico-water ico-m"></span>
    <span class="ico ico-water ico-l"></span>
    <span class="ico ico-water ico-xl"></span>
    <span class="ico ico-sun"></span>
    <span class="ico ico-sun ico-s"></span>
    <span class="ico ico-sun ico-m"></span>
    <span class="ico ico-sun ico-l"></span>
    <span class="ico ico-sun ico-xl"></span>
    <span class="ico ico-flower"></span>
    <span class="ico ico-flower ico-s"></span>
    <span class="ico ico-flower ico-m"></span>
    <span class="ico ico-flower ico-l"></span>
    <span class="ico ico-flower ico-xl"></span>
    <span class="ico ico-question"></span>
    <span class="ico ico-question ico-s"></span>
    <span class="ico ico-question ico-m"></span>
    <span class="ico ico-question ico-l"></span>
    <span class="ico ico-question ico-xl"></span>
    <span class="ico ico-stats"></span>
    <span class="ico ico-stats ico-s"></span>
    <span class="ico ico-stats ico-m"></span>
    <span class="ico ico-stats ico-l"></span>
    <span class="ico ico-stats ico-xl"></span>
    <span class="ico ico-thumbs-up"></span>
    <span class="ico ico-thumbs-up ico-s"></span>
    <span class="ico ico-thumbs-up ico-m"></span>
    <span class="ico ico-thumbs-up ico-l"></span>
    <span class="ico ico-thumbs-up ico-xl"></span>
    <span class="ico ico-arr-left"></span>
    <span class="ico ico-arr-left ico-s"></span>
    <span class="ico ico-arr-left ico-m"></span>
    <span class="ico ico-arr-left ico-l"></span>
    <span class="ico ico-arr-left ico-xl"></span>
    <span class="ico ico-arr-down"></span>
    <span class="ico ico-arr-down ico-s"></span>
    <span class="ico ico-arr-down ico-m"></span>
    <span class="ico ico-arr-down ico-l"></span>
    <span class="ico ico-arr-down ico-xl"></span>
    <span class="ico ico-arr-up"></span>
    <span class="ico ico-arr-up ico-s"></span>
    <span class="ico ico-arr-up ico-m"></span>
    <span class="ico ico-arr-up ico-l"></span>
    <span class="ico ico-arr-up ico-xl"></span>
    <span class="ico ico-arr-right"></span>
    <span class="ico ico-arr-right ico-s"></span>
    <span class="ico ico-arr-right ico-m"></span>
    <span class="ico ico-arr-right ico-l"></span>
    <span class="ico ico-arr-right ico-xl"></span>
    <span class="ico ico-home"></span>
    <span class="ico ico-home ico-s"></span>
    <span class="ico ico-home ico-m"></span>
    <span class="ico ico-home ico-l"></span>
    <span class="ico ico-home ico-xl"></span>
    <span class="ico ico-star"></span>
    <span class="ico ico-star ico-s"></span>
    <span class="ico ico-star ico-m"></span>
    <span class="ico ico-star ico-l"></span>
    <span class="ico ico-star ico-xl"></span>
    <span class="ico ico-pin"></span>
    <span class="ico ico-pin ico-s"></span>
    <span class="ico ico-pin ico-m"></span>
    <span class="ico ico-pin ico-l"></span>
    <span class="ico ico-pin ico-xl"></span>
    <span class="ico ico-search"></span>
    <span class="ico ico-search ico-s"></span>
    <span class="ico ico-search ico-m"></span>
    <span class="ico ico-search ico-l"></span>
    <span class="ico ico-search ico-xl"></span>
    <span class="ico ico-close"></span>
    <span class="ico ico-close ico-s"></span>
    <span class="ico ico-close ico-m"></span>
    <span class="ico ico-close ico-l"></span>
    <span class="ico ico-close ico-xl"></span>
    <span class="ico ico-correct"></span>
    <span class="ico ico-correct ico-s"></span>
    <span class="ico ico-correct ico-m"></span>
    <span class="ico ico-correct ico-l"></span>
    <span class="ico ico-correct ico-xl"></span>
    <span class="ico ico-plus"></span>
    <span class="ico ico-plus ico-s"></span>
    <span class="ico ico-plus ico-m"></span>
    <span class="ico ico-plus ico-l"></span>
    <span class="ico ico-plus ico-xl"></span>
    <span class="ico ico-minus"></span>
    <span class="ico ico-minus ico-s"></span>
    <span class="ico ico-minus ico-m"></span>
    <span class="ico ico-minus ico-l"></span>
    <span class="ico ico-minus ico-xl"></span>
    <span class="ico ico-settings"></span>
    <span class="ico ico-settings ico-s"></span>
    <span class="ico ico-settings ico-m"></span>
    <span class="ico ico-settings ico-l"></span>
    <span class="ico ico-settings ico-xl"></span>
    <span class="ico ico-hi-five"></span>
    <span class="ico ico-hi-five ico-s"></span>
    <span class="ico ico-hi-five ico-m"></span>
    <span class="ico ico-hi-five ico-l"></span>
    <span class="ico ico-hi-five ico-xl"></span>
    <span class="ico ico-look"></span>
    <span class="ico ico-look ico-s"></span>
    <span class="ico ico-look ico-m"></span>
    <span class="ico ico-look ico-l"></span>
    <span class="ico ico-look ico-xl"></span>
    <span class="ico ico-shuffle"></span>
    <span class="ico ico-shuffle ico-s"></span>
    <span class="ico ico-shuffle ico-m"></span>
    <span class="ico ico-shuffle ico-l"></span>
    <span class="ico ico-shuffle ico-xl"></span>
    <span class="ico ico-audio"></span>
    <span class="ico ico-audio ico-s"></span>
    <span class="ico ico-audio ico-m"></span>
    <span class="ico ico-audio ico-l"></span>
    <span class="ico ico-audio ico-xl"></span>
    <span class="ico ico-like"></span>
    <span class="ico ico-like ico-s"></span>
    <span class="ico ico-like ico-m"></span>
    <span class="ico ico-like ico-l"></span>
    <span class="ico ico-like ico-xl"></span>
    <span class="ico ico-talk"></span>
    <span class="ico ico-talk ico-s"></span>
    <span class="ico ico-talk ico-m"></span>
    <span class="ico ico-talk ico-l"></span>
    <span class="ico ico-talk ico-xl"></span>
    <span class="ico ico-world"></span>
    <span class="ico ico-world ico-s"></span>
    <span class="ico ico-world ico-m"></span>
    <span class="ico ico-world ico-l"></span>
    <span class="ico ico-world ico-xl"></span>
    <span class="ico ico-mute"></span>
    <span class="ico ico-mute ico-s"></span>
    <span class="ico ico-mute ico-m"></span>
    <span class="ico ico-mute ico-l"></span>
    <span class="ico ico-mute ico-xl"></span>
    <span class="ico ico-top"></span>
    <span class="ico ico-top ico-s"></span>
    <span class="ico ico-top ico-m"></span>
    <span class="ico ico-top ico-l"></span>
    <span class="ico ico-top ico-xl"></span>
    <span class="ico ico-trash"></span>
    <span class="ico ico-trash ico-s"></span>
    <span class="ico ico-trash ico-m"></span>
    <span class="ico ico-trash ico-l"></span>
    <span class="ico ico-trash ico-xl"></span>
    <span class="ico ico-bolt"></span>
    <span class="ico ico-bolt ico-s"></span>
    <span class="ico ico-bolt ico-m"></span>
    <span class="ico ico-bolt ico-l"></span>
    <span class="ico ico-bolt ico-xl"></span>
    <span class="ico ico-loop"></span>
    <span class="ico ico-loop ico-s"></span>
    <span class="ico ico-loop ico-m"></span>
    <span class="ico ico-loop ico-l"></span>
    <span class="ico ico-loop ico-xl"></span>
    <span class="ico ico-trophy"></span>
    <span class="ico ico-trophy ico-s"></span>
    <span class="ico ico-trophy ico-m"></span>
    <span class="ico ico-trophy ico-l"></span>
    <span class="ico ico-trophy ico-xl"></span>
    <span class="ico ico-degree"></span>
    <span class="ico ico-degree ico-s"></span>
    <span class="ico ico-degree ico-m"></span>
    <span class="ico ico-degree ico-l"></span>
    <span class="ico ico-degree ico-xl"></span>
    <span class="ico ico-temple"></span>
    <span class="ico ico-temple ico-s"></span>
    <span class="ico ico-temple ico-m"></span>
    <span class="ico ico-temple ico-l"></span>
    <span class="ico ico-temple ico-xl"></span>
    <span class="ico ico-mem"></span>
    <span class="ico ico-mem ico-s"></span>
    <span class="ico ico-mem ico-m"></span>
    <span class="ico ico-mem ico-l"></span>
    <span class="ico ico-mem ico-xl"></span>
    <span class="ico ico-user"></span>
    <span class="ico ico-user ico-s"></span>
    <span class="ico ico-user ico-m"></span>
    <span class="ico ico-user ico-l"></span>
    <span class="ico ico-user ico-xl"></span>
    <span class="ico ico-twitter"></span>
    <span class="ico ico-twitter ico-s"></span>
    <span class="ico ico-twitter ico-m"></span>
    <span class="ico ico-twitter ico-l"></span>
    <span class="ico ico-twitter ico-xl"></span>
    <span class="ico ico-facebook"></span>
    <span class="ico ico-facebook ico-s"></span>
    <span class="ico ico-facebook ico-m"></span>
    <span class="ico ico-facebook ico-l"></span>
    <span class="ico ico-facebook ico-xl"></span>
    <span class="ico ico-gplus"></span>
    <span class="ico ico-gplus ico-s"></span>
    <span class="ico ico-gplus ico-m"></span>
    <span class="ico ico-gplus ico-l"></span>
    <span class="ico ico-gplus ico-xl"></span>
    <span class="ico ico-bubble"></span>
    <span class="ico ico-bubble ico-s"></span>
    <span class="ico ico-bubble ico-m"></span>
    <span class="ico ico-bubble ico-l"></span>
    <span class="ico ico-bubble ico-xl"></span>
    <span class="ico ico-edit"></span>
    <span class="ico ico-edit ico-s"></span>
    <span class="ico ico-edit ico-m"></span>
    <span class="ico ico-edit ico-l"></span>
    <span class="ico ico-edit ico-xl"></span>
    <span class="ico ico-stop"></span>
    <span class="ico ico-stop ico-s"></span>
    <span class="ico ico-stop ico-m"></span>
    <span class="ico ico-stop ico-l"></span>
    <span class="ico ico-stop ico-xl"></span>
    <span class="ico ico-tag"></span>
    <span class="ico ico-tag ico-s"></span>
    <span class="ico ico-tag ico-m"></span>
    <span class="ico ico-tag ico-l"></span>
    <span class="ico ico-tag ico-xl"></span>
    <span class="ico ico-media"></span>
    <span class="ico ico-med a ico-s"></span>
    <span class="ico ico-med a ico-m"></span>
    <span class="ico ico-med a ico-l"></span>
    <span class="ico ico-med a ico-xl"></span>
    <span class="ico ico-clock"></span>
    <span class="ico ico-clock ico-s"></span>
    <span class="ico ico-clock ico-m"></span>
    <span class="ico ico-clock ico-l"></span>
    <span class="ico ico-clock ico-xl"></span>
    <span class="ico ico-lock"></span>
    <span class="ico ico-lock ico-s"></span>
    <span class="ico ico-lock ico-m"></span>
    <span class="ico ico-lock ico-l"></span>
    <span class="ico ico-lock ico-xl"></span>
    <span class="ico ico-lab"></span>
    <span class="ico ico-lab ico-s"></span>
    <span class="ico ico-lab ico-m"></span>
    <span class="ico ico-lab ico-l"></span>
    <span class="ico ico-lab ico-xl"></span>
    <span class="ico ico-envelope"></span>
    <span class="ico ico-envelope ico-s"></span>
    <span class="ico ico-envelope ico-m"></span>
    <span class="ico ico-envelope ico-l"></span>
    <span class="ico ico-envelope ico-xl"></span>
    <span class="ico ico-list"></span>
    <span class="ico ico-list ico-s"></span>
    <span class="ico ico-list ico-m"></span>
    <span class="ico ico-list ico-l"></span>
    <span class="ico ico-list ico-xl"></span>
    <span class="ico ico-backward"></span>
    <span class="ico ico-backward ico-s"></span>
    <span class="ico ico-backward ico-m"></span>
    <span class="ico ico-backward ico-l"></span>
    <span class="ico ico-backward ico-xl"></span>
    <span class="ico ico-forward"></span>
    <span class="ico ico-forward ico-s"></span>
    <span class="ico ico-forward ico-m"></span>
    <span class="ico ico-forward ico-l"></span>
    <span class="ico ico-forward ico-xl"></span>
    <span class="ico ico-rewind"></span>
    <span class="ico ico-rewind ico-s"></span>
    <span class="ico ico-rewind ico-m"></span>
    <span class="ico ico-rewind ico-l"></span>
    <span class="ico ico-rewind ico-xl"></span>
    <span class="ico ico-finish"></span>
    <span class="ico ico-finish ico-s"></span>
    <span class="ico ico-finish ico-m"></span>
    <span class="ico ico-finish ico-l"></span>
    <span class="ico ico-finish ico-xl"></span>
    <span class="ico ico-press"></span>
    <span class="ico ico-press ico-s"></span>
    <span class="ico ico-press ico-m"></span>
    <span class="ico ico-press ico-l"></span>
    <span class="ico ico-press ico-xl"></span>
    <span class="ico ico-brain"></span>
    <span class="ico ico-brain ico-s"></span>
    <span class="ico ico-brain ico-m"></span>
    <span class="ico ico-brain ico-l"></span>
    <span class="ico ico-brain ico-xl"></span>
    <span class="ico ico-mobile"></span>
    <span class="ico ico-mobile ico-s"></span>
    <span class="ico ico-mobile ico-m"></span>
    <span class="ico ico-mobile ico-l"></span>
    <span class="ico ico-mobile ico-xl"></span>
    <span class="ico ico-circle"></span>
    <span class="ico ico-circle ico-s"></span>
    <span class="ico ico-circle ico-m"></span>
    <span class="ico ico-circle ico-l"></span>
    <span class="ico ico-circle ico-xl"></span>
    <span class="ico ico-flag"></span>
    <span class="ico ico-flag ico-s"></span>
    <span class="ico ico-flag ico-m"></span>
    <span class="ico ico-flag ico-l"></span>
    <span class="ico ico-flag ico-xl"></span>
    <span class="ico ico-re-order"></span>
    <span class="ico ico-re-order ico-s"></span>
    <span class="ico ico-re-order ico-m"></span>
    <span class="ico ico-re-order ico-l"></span>
    <span class="ico ico-re-order ico-xl"></span>
    <span class="ico ico-people"></span>
    <span class="ico ico-people ico-s"></span>
    <span class="ico ico-people ico-m"></span>
    <span class="ico ico-people ico-l"></span>
    <span class="ico ico-people ico-xl"></span>
    <span class="ico ico-follow"></span>
    <span class="ico ico-follow ico-s"></span>
    <span class="ico ico-follow ico-m"></span>
    <span class="ico ico-follow ico-l"></span>
    <span class="ico ico-follow ico-xl"></span>
    <span class="ico ico-ignore"></span>
    <span class="ico ico-ignore ico-s"></span>
    <span class="ico ico-ignore ico-m"></span>
    <span class="ico ico-ignore ico-l"></span>
    <span class="ico ico-ignore ico-xl"></span>
    <span class="ico ico-shortcuts"></span>
    <span class="ico ico-shortcuts ico-s"></span>
    <span class="ico ico-shortcuts ico-m"></span>
    <span class="ico ico-shortcuts ico-l"></span>
    <span class="ico ico-shortcuts ico-xl"></span>
    <span class="ico ico-pause"></span>
    <span class="ico ico-pause ico-s"></span>
    <span class="ico ico-pause ico-m"></span>
    <span class="ico ico-pause ico-l"></span>
    <span class="ico ico-pause ico-xl"></span>
    <span class="ico ico-play"></span>
    <span class="ico ico-play ico-s"></span>
    <span class="ico ico-play ico-m"></span>
    <span class="ico ico-play ico-l"></span>
    <span class="ico ico-play ico-xl"></span>
    <span class="ico ico-thin-arr-left"></span>
    <span class="ico ico-thin-arr-left ico-s"></span>
    <span class="ico ico-thin-arr-left ico-m"></span>
    <span class="ico ico-thin-arr-left ico-l"></span>
    <span class="ico ico-thin-arr-left ico-xl"></span>
  </div>
</main>
