$def with (course)

<div class="page-banner">
  <div class="inner">

    <!-- Photo -->
    <img class="page-photo" src="$(course['photo'])" alt="$(course['title'])">
    <div class="page-details">

      <!-- Categories -->
      <ul class="page-breadcrumb">
        $ url = ""
        $for i, cat in enumerate(course['breadcrumb']):
          <li>
            $if i == 0:
              $ url = '/community/courses/' + cat["slug"]
              <a href="$(url)">$:(I18N.categories[cat['id']])</a>
            $else:
              <i class="ico ico-white ico-grey ico-arr-right ico-s"></i>
              <a href="$(url)/$(cat['slug'])">$:(I18N.categories[cat['id']])</a>
          </li>
      </ul>

      <!-- Title + description -->
      <h1>
        $(course['title'])
        $if course['author']:
          <small><a href="/user/$(course['author'])">$(course['author'])</a></small>
      </h1>
      <p class="description">$(course['description'])</p>
    </div>

  </div>
</div>
