$var currentPage: index
$var title: $(LANG.menu["index"])

<style>
.jumbotron {
  background-image: url("https://gistcdn.githack.com/a-mt/15954995c6cd4680862d3ce6fb79d13b/raw/7892e747baa94aad6e37ac7ed9d907eee3494508/cockpit.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: #5f3b96;
  line-height: 30px;
}
.jumbotron span {
  display: inline-block;
  background: white;
  padding: 5px;
}
</style>

<main>
  <br>
  <div class="inner">
    <div class="empty-box jumbotron"><span>Memlike</span></div>
  </div>
</main>