$def with(course, session_type, level_index, thing_id, sendresults)
$var title: $(I18N.misc[session_type]) ~ $(course['title'])
$var js: /static/js/markdown.min.js, /static/js/preact.min.js, /static/js/learn.js
$var header: 1
$var footer: 1

$ url = course['url'] + str(level_index) if level_index else course['url']

<header class="white">
  <div class="inner">
    <p class="course-title">
      <a href="$(url)"><span class="ico ico-arr-left"></span></a>
      $(course['title'])
      <span id="level-title"></span>
    </p>
  </div>
</header>

<script>
  window.MEMLIKE = window.MEMLIKE || {};
  window.MEMLIKE.course = $:(json(course));
  /*
  ${"$"}_URL = {
    level_index : $:(level_index if level_index else "'" + ",".join(sorted(course['levels'].keys(), key=int)) + "'"),
    session_type: "$(session_type)",
    urlFrom     : "$(url)",
    thing_id    : $(thing_id if thing_id else 0),
    sendresults : $(sendresults if session["loggedin"] else 0),
    session     : $(1 if session["loggedin"] else 0)
  */
  window.MEMLIKE.garden = {
    levels_indexes: $:(level_index if level_index else "'" + ",".join(sorted(course['levels'].keys(), key=int)) + "'"),
    session_type: "$(session_type)",
    session_origin_url: "$(url)",
    preview_thing_id: $(thing_id if thing_id else 0),
    save_progress: $(sendresults if session["loggedin"] else 0),
    session_is_anonymous: $(1 if session["loggedin"] else 0),
  };
</script>

<main id="body">
  <div id="learn-container" class="inner"></div>
</main>
