$def with(course, session_type, level_index, thing_id, save_progress, reverse_prompt_and_answer)
$var title: $(I18N.misc[session_type]) ~ $(course['title'])
$var js: /static/js/markdown.min.js, /static/js/preact.min.js, /static/js/learn.js
$var header: 1
$var footer: 1

$ url = course['url'] + str(level_index) if level_index else course['url']

<header class="white">
  <div class="inner">
    <div id="learn-settings-btn"></div>

    <p class="course-title">
      <a href="$(url)"><span class="ico ico-arr-left"></span></a>
      $(course['title'])
      <span id="level-title"></span>
    </p>
  </div>
</header>

<script>
  window.MEMLIKE = window.MEMLIKE || {};
  window.MEMLIKE.course = $:(json(course));
  window.MEMLIKE.garden = {
    levels_indexes: $:(level_index if level_index else "'" + ",".join(sorted(course['levels'].keys(), key=int)) + "'"),
    session_type: "$(session_type)",
    session_origin_url: "$(url)",
    preview_thing_id: $(thing_id if thing_id else 0),
    save_progress: $(int(save_progress) if session["loggedin"] else 0),
    reverse_prompt_and_answer: $(int(reverse_prompt_and_answer)),
    session_is_anonymous: $(1 if session["loggedin"] else 0),
    session_id: "$(session['session_id'])",
  };
</script>

<main id="body">
  $if not session["loggedin"]:
    <div class="alert alert-danger">$(I18N.misc['learn_is_anonymous'])</div>

  <div id="learn-container" class="inner"></div>
</main>
