$def with(course, type, lvl)
$var title: $(LANG.misc[type]) ~ $(course['title'])
$var js: //cdnjs.cloudflare.com/ajax/libs/preact/8.2.7/preact.min.js, /static/js/learn.js

$ url = course['url'] + str(lvl) if lvl else course['url']

$var header: <header class="white">
  <div class="inner">
    <p class="course-title">
      <a href="$url"><span class="ico ico-arr-left"></span></a>
      $(course['title'])
      <span id="level-title"></span>
    </p>
  </div>
</header>

<script>
  var ${"$"}_URL = {
    idCourse  : $(course['id']),
    lvl       : $:(lvl if lvl else '"1-'+str(len(course['levels'])) + '"'),
    type      : "$type",
    url       : "$url"
  };
</script>

<main>
  <div id="learn-container" class="inner"></div>
</main>