$def with (redirect, err, data)
$var currentPage: login
$var title: $:(I18N.menu["login"])
<!-- /login: Authenticate -->

<main>
  <br>
  <form method="POST" class="login nicebox">
    <div>
      <label for="username">$(I18N.misc['username'])</label>
      <input name="username" type="text" id="username" value="$(data['username'] if 'username' in data else None)" required>
      <span class="error">$(I18N.err[err['username']] if 'username' in err else None)</span>
    </div>
    <div>
      <label for="password">$(I18N.misc['password'])</label>
      <input name="password" type="password" id="password" required>
      <span class="error">$(I18N.err[err['password']] if 'password' in err else None)</span>
    </div>
    <input type="hidden" name="redirect" value="$(data['redirect'] if 'redirect' in data else redirect)">
    <input class="btn green" type="submit" value=$:(I18N.misc['login'])>
  </form>
</main>
