* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue","Helvetica","Arial","Kai","KaiTi",Sans-Serif;
  color: #3E3E3E;
  line-height: 1.5em;
  font-size: 14px;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
img.hide {
  filter: brightness(0);
  opacity: .2;
}
a {
  color: inherit;
  text-decoration: none;
}
pre.debug {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  background: white;
}
.link {
  color: #15A1EC;
  transition: color .2s;
}
.link:hover {
  color: #0c618f;
}
figure, figcaption {
  display: block;
  margin: 0;
}

/*-------------------------------------------------------
 * BOOTSTRAP
 *-------------------------------------------------------*/

.header-nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav .header-nav-item {
  border-radius: 4px;
  position: relative;
  z-index: 100;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.nav-item-btn {
  border-radius: 4px;
  color: #fff;
  padding: 12px 18px;
  display: inline-block;
  font: 16px/16px "Open Sans",Sans-Serif;
}

.btn {
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857;
  height: 38px;

  background-color: #fff;
  border: 1px solid #CDCCCB;
  border-radius: 6.2px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.07);
  padding: 8px 20px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,0.05) inset;
}
.btn-mini {
  padding: 0 5px;
  font-size: 12px;
  height: 22px;
}
.btn.disabled {
  background-color: #fff;
  color: #6f6f6f;
  border-color: #e6e6e6;
  pointer-events: none;
}
.btn:hover {
  background-color: #f2f2f2;
}
.btn.active {
  text-shadow: 0 1px 0 #15a1ec;
  background-color: #73c7f4;
  color: #fff;
  border-color: #15a1ec;
}
.btn.green {
  color: #fff;
  border: 1px solid #699f30;
  background-color: #83ca38;
}
.btn.green:hover {
  background-color: #76b336;
  color: #ebebeb;
}
.submit {
  float: right;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
td > .btn-group {
  margin-bottom: 0;
  line-height: 20px;
}
.btn-group .dropdown-toggle {
  position: relative;
  top: 1px;
}
.btn-group > * {
  display: inline-block;
  margin-right: -4px;
}
.btn + .btn {
  margin-left: -1px;
}
.dropdown-toggle {
  cursor: pointer;
}
.btn-group > :not(:last-of-type) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > :not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-small {
  font-size: 12px;
  height: 30px;
  line-height: 10px;
}
.btn-pink {
  background: #Fa42a2;
  background: linear-gradient(-180deg, #FA42A2 0%, #E22F8D 100%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.03);
  border-color: transparent;
}

.dropdown-menu {
  list-style: none;
  font-size: 14px;
  text-align: left;
  overflow: auto;
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  padding: 5px 0;
}
.dropdown-menu, select {
  min-width: 160px;
  margin: 2px 0 0;
  background: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
select {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.42857;
}
.filter-source .dropdown-menu {
  height: 450px;
}
.show > .dropdown-menu {
  display: block;
}
.dropdown-menu li a {
  padding: 7px 15px;
  display: block;
  white-space: nowrap;
  line-height: 1.42857;
}
.dropdown-menu li:hover > a {
  background: rgba(0,0,0,0.2);
}

.clearfix::after {
  clear: both;
}
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  border-radius: 6.2px;
  padding: 8px 15px;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  height: 38px;
}
input:invalid {
  border: 1px solid #ff756b;
}
.btn-default {
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 0 20px;
  color: gray;
  border-radius: 6px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,0.05) inset;
  height: 38px;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #f3f3f3;
}
.btn-group input:not(:last-child) {
  border-radius: 6px 0 0 6px;
}
.btn-group .btn-default:last-child {
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.pill {
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  border-radius: 20px;
  margin: 0 5px;
  padding: 9px 16px;
  border: 1px solid transparent;
  display: inline-block;
  line-height: 13px;
  height: 36px;
  text-align: center;
  background: white;
  font-size: 1em;
  font-family: inherit;
}
.pill::before { /* to align pills with icons */
  content: "";
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.pill-list .pill {
  border-radius: 10px;
  margin-right: 0;
}
.pill.active {
  text-shadow: 0 1px 0 fade(#000, 20%);
  border-color: #5cbdf2;
  background: #73c7f4;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.15) inset;
  color: #fff;
  font-weight: bold;
}
.pill:not(.active):hover {
  background: rgb(238, 238, 238);
}
.dropdown .pill {
  width: 160px;
  white-space: nowrap;
}
.pill + .dropdown-menu {
  border-color: #aaa;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: -2px !important;
}
.dropdown.show .pill {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: transparent;
}

.slider {
  overflow-y: hidden;
  transition-property: max-height;
  max-height: 6000px;
  transition-duration: .5s;
}
.slider.hide {
  max-height: 0;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  margin: 5px 0;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert span {
  color: #666;
}

/*-------------------------------------------------------
 * THEME
 *-------------------------------------------------------*/

html, body {
  height: 100%;
}
#body {
  min-height: calc(100% - 75px);
}
body {
  background: #F3F4F3;
}
header {
  background-color: #7757A8;
  position: fixed;
  top: 0;
  height: 62px;
  width: 100%;
  color: #fff;
  padding: 0;
  border: none;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
header.white {
  background-color: white;
  color: #666;
}
body {
  padding-top: 62px;
}
.inner {
  max-width: 100%;
  width: 960px;
  margin: auto;
}
.inner-small {
  max-width: 100%;
  width: 750px;
  margin: auto;
}

header .header-nav {
  margin: 12px 0;
}
.header-nav-item.plain:hover {
  background: rgba(0,0,0,0.05);
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.header-nav-item.is-active {
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}
.nav-item-btn {
  font-weight: 600;
}
@media (max-width: 320px) {
  .nav-item-btn {
    padding: 10px 16px;
  }
}

.header-nav .login,
.header-nav .lang {
  float: right;
}
.actions-right {
  float: right;
  white-space: nowrap;
  flex-grow: 1;
  text-align: right;
}
#choose-lang {
  list-style: none;
  padding: 0;
}
#choose-lang li {
  display: inline-block;
  margin: 5px;
  filter: brightness(.7);
}
#choose-lang li:hover,
#choose-lang li.active {
  filter: none;
}

.empty-box {
  border-radius: 10px;
  padding: 100px 50px 120px;
  border: 1px solid #e4e4e4;
  background-color: rgba(180,180,180,0.1);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.empty-box .grey {
  opacity: 0.7;
}
.empty-box p {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

.page-head {
  background: white;
  padding: 10px 0;
}
.page-banner.small {
  min-height: 0;
}
.page-head > .inner {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  .page-head > .inner {
    flex-direction: column;
  }
  .page-head > .inner > * {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
.page-title h1 {
  color: #423c3c;
  margin: 0px;
  font-weight: bold;
  line-height: 45px;
  padding: 0 0 0 15px;
  display: inline-block;
}
h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #999;
}
h3 {
  margin: 0 0 10px 0;
}
p:last-child {
  margin-bottom: 0;
}
.page-title h2 {
  padding: 0 0 0 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.page-title h2::before {
  content: "-";
  position: absolute;
  left: 2.5px;
}
.filter-source {
  float: right;
  margin-left: auto;
}
.filter-category {
  width: 100%;
}
h1 {
  font-size: 25px;
}
.username {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.username > h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

footer {
  background: white;
  box-shadow: 0 1px 0 white;
  padding: 20px 5px;
  border-top: solid 1px #e6e6e6;
  color: #37586d;
}
footer > * {
  float: right;
}
footer a {
  opacity: .5;
  transition: opacity .3s;
}
.github {
  opacity: .3;
}
footer a:hover,
footer .active a {
  opacity: 1;
}
.align-left {
  text-align: left;
}

.nicebox {
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  padding: 10px;
}

/*-------------------------------------------------------
 * ICONS
 *-------------------------------------------------------*/

.ico {
  background-image: url("https://i.imgur.com/1YSCe97.png");
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: 126px 180px;
}
.ico-white {
  background-image: url("https://i.imgur.com/gbogAZy.png");
}
.ico-grey {
  background-image: url("https://i.imgur.com/gbogAZy.png");
  opacity: .3;
}
.ico-l {
  background-size: 224px 320px;
  width: 32px;
  height: 32px;
}
.ico-s {
  width: 12px;
  height: 12px;
  background-size: 84px 120px;
}

.ico-search {
  background-position: 0px -36px;
}
.ico-loop {
  background-position: -54px -72px;
}
.ico-clock {
  background-position: -36px -108px;
}
.ico-user {
  background-position: -18px -90px;
}
.ico-arr-right {
  background-position: -54px -18px;
}
.ico-arr-left {
  background-position: 0px -18px;
}
.ico-arr-right.ico-s {
  background-position: -36px -12px;
}
.ico-list {
  background-position: -108px -108px;
}
.ico-audio {
  background-position:-36px -54px
}
.ico-audio.ico-l {
  background-position: -64px -96px;
}
.ico-thin-arr-right {
  background-position: -54px -162px;
  transform: rotate(180deg);
}
.ico-trophy {
  background-position:-72px -72px
}
.ico-question.ico-l {
  background-position:-128px 0px;
}
.ico-correct {
  background-position: -36px -36px;
}
.ico-close {
  background-position: -18px -36px;
}
.ico-trash {
  background-position: -18px -72px;
}

a > .expand-icon { /* ico-s icon-arr-right */
  background-position: -36px -12px;
}
.open > a > .expand-icon { /* ico-s icon-arr-down */
  background-position: -12px -12px;
}

.ico-arr-left + .ico-arr-left,
.ico-arr-right + .ico-arr-right {
  margin: 0 -10px;
}

/*-------------------------------------------------------
 * PAGINATION
 *-------------------------------------------------------*/

.paging {
  align-self: stretch;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.paging-trigger {
  display: block;
  border: 1px solid #e4e4e4;
  color: #666;
  background: rgba(255,255,255,0.3);
  border-radius: 6.2px;
  box-shadow: rgba(0,0,0,0.05) 0 2px 2px;
  padding: 15px;
  cursor: pointer;
}
.paging-trigger.first,
.paging-trigger.last {
  background: white;
}
.paging-trigger.prev { width: 50%; float: left; }
.paging-trigger.next { width: 50%; float: right; }
.paging-trigger.first { width: 15%; float: left; }
.paging-trigger.last { width: 15%; float: right; }
.paging-trigger.first:not([style*="display: none"]) + .paging-trigger.prev { width: 35%; }
.paging-trigger.last:not([style*="display: none"]) + .paging-trigger.next { width: 35%; }

.paging-trigger:hover {
  background: rgba(255,255,255,0.1);
}
.loading-spinner {
  display: block;
  min-width: 32px;
  min-height: 32px;
  background-image: url("https://i.imgur.com/8mxiVSL.gif");
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.loading-spinner-before {
  position: relative;
  background: rgba(255,255,255,0.8);
  pointer-events: none;
}
.loading-spinner-before::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -36px;
  display: block;
  min-width: 32px;
  min-height: 32px;
  background-image: url("https://i.imgur.com/8mxiVSL.gif");
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.loading-spinner.right {
  float: right;
  margin-left: auto;
}

/*-------------------------------------------------------
 * COURSES
 *-------------------------------------------------------*/

.filter-source img {
  width: 20px;
}
.filter-source .dropdown-menu a {
  position: relative;
  padding-left: 32px; /* 20px + 7px + 2*2px */
}
.filter-source .dropdown-menu img {
  position: absolute;
  left: 7px;
}
.filter-source .caret {
  margin-left: 14px;
  margin-right: -7px;
}

.search-box {
  margin: 10px 0;
  display: flex;
  width: 100%;
}
.search-box input {
  flex-grow: 1;
}

.categories-list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
  display: block;
}
.categories-list ul {
  list-style: none;
  padding: 0 0 8px 0;
  margin: 0;
  display: none;
}
.categories-list li.open  > ul {
  display: block;
}
.categories-list > li {
  border-bottom: 1px solid #e4e4e4;
}
.categories-list ul li {
  padding-left: 35px;
}
.categories-list ul li:first-child {
  margin-top: -6px;
}
.categories-list a {
  font-size: 14px;
  line-height: 14px;
  padding: 6.85714px 0;
  display: block;
}
.categories-list > li > a {
  padding: 12px 15px;
  font-size: 15px;
  font-weight: bold;
}
.categories-list a[data-category-leaf]:hover {
  text-decoration: underline;
}
.categories-list .expand-icon {
  margin-right: 5px;
}
.categories-list a.active {
  font-weight: 600;
}

.author-link,
.category {
  color: #15A1EC;
  transition: color .2s;
}
.author-link:hover,
.category:hover {
  color: #0c618f;
}
.details-wrapper {
  margin-top: 7px;
  font-size: 12px;
}
.author, .category {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.author {
  float: right;
  padding-right: 10px;
  width: 85px;
  text-align: right;
  color: #aaa;
}
.category {
  float: left;
  padding-left: 10px;
  width: 80px;
}

#courses-container,
#usercourses-container,
#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 26px 0;
  min-height: 200px;
}

.inner-wrap {
  border: 1px solid #e4e4e4;
}
.course-box {
  background-color: #fff;
  width: 222px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 6.2px;
  position: relative;
  margin: auto auto 20px;
}
.course-box h3 {
  height: 54px;
  margin: 3px 0 0 0;
  font-size: 18px;
  line-height: 20px;
  padding: 2px 10px 0;
  overflow: hidden;
}
.course-box h3 .inner {
  height: 40px;
  overflow: hidden;
}
.course-box-picture {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 6.2px 6.2px 0 0;
  background-size: cover;
}
.target-photo {
  position: absolute;
  top: 176px;
  left: 11px;
  padding: 7px 8px;
  background-color: #fff;
  background-size: 200px 200px;
  border-radius: 0 10px 0 0;
}
.target-photo img {
  display: block;
  width: 25px;
  height: 25px;
}

.details {
  font-size: 13px;
  border-top: 1px solid #e4e4e4;
}
.details .stat {
  border-right: 1px solid #e4e4e4;
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
  color: #666;
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
}
.details .stat:last-child {
  border-right: 0;
}

/*-------------------------------------------------------
 * DASHBOARD
 *-------------------------------------------------------*/

.need-watering {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #02a0fb;
  border-radius: 50%;
  line-height: 30px;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}
.need-watering.small {
  font-size: 12px;
}
.course-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 12px;
}
.course-progress-active {
  background-color: #ffda3e;
  height: 100%;
}
.course-complete {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  color: white;
  font-weight: 600;
  line-height: 200px;
  font-size: 20px;
  text-transform: uppercase;
  pointer-events: none;
}

/*-------------------------------------------------------
 * COURSE
 *-------------------------------------------------------*/

 .page-banner {
  background-color: #825fb6;
  background-image: linear-gradient(to bottom, #825fb6, #5f3b96);
  min-height: 200px;
  color: white;
  padding: 5px;
}
.page-banner-small {
  min-height: 80px;
}
.page-banner > .inner {
 display: flex;
}
@media (max-width: 650px) {
  .page-banner > .inner {
     flex-wrap: wrap;
     justify-content: center;
  }
  .big {
    flex-direction: column;
    justify-content: center;
  }
}
.page-photo {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  margin-right: 15px;
}
.page-photo-small {
  width: 80px;
  height: 80px;
}
.page-details {
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}
.page-breadcrumb {
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(36,123,170,0.5);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.2);
}
.page-breadcrumb li {
  display: inline;
}
.page-breadcrumb a {
  font-weight: bold;
}
h1 small {
  color: rgba(255,255,255,0.3);
}
.edit {
  margin-left: auto;
}

.levels {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  counter-reset: idx;
  padding: 0 5px;
}
.level-box {
  width: 125px;
  height: 189px;
  margin: 10px 4px;
  position: relative;
}
.level-box .level-status {
  position: absolute;
  bottom: 5px;
  width: calc(100% - 10px);
  left: 5px;
  text-align: center;
  color: #aaa;
}
.level-box .level-status .ico {
  opacity: .3;
}
.level-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: transform .3s;
  overflow: hidden;
}
.level-box.multimedia .level-card {
  background-color: #f5f5f5;
  background-image: url("https://i.imgur.com/ZghvRD8.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.level-box:hover .level-card {
  transform: scale(1.1);
  border-color: #ccc;
}
.level {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 8px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.level-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-weight: bold;
  background: #f3f3f3;
}
.level-title {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 3ch;
}

.rows {
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  list-style: none;
  padding: 0;
}
.row {
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  display: flex;
}
.thing {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
}
.row .column {
  vertical-align: top;
  min-width: calc(50% - 40px);
}
.row .column.item {
  max-width: calc(50% - 40px);
}
.row .status {
  display: inline-block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: right;
}
.row .status:empty {
  display: none;
}
.ico-color-water {
  display: inline-block;
  height: 18px;
  width: 12px;
  background: url("https://gistcdn.githack.com/a-mt/c23fc955f741cd94dbfcabc3d7a22af4/raw/c7f2f73d015e45ebeeb0ffb6855e66ae77a32b81/scb-icon-water.svg");
  background-size: 100%;
  vertical-align: middle;
  margin-top: -5px;
}
.ico-color-water.grey {
  filter: grayscale(100%);
  opacity: .5;
}
.row .view-detail {
  position: absolute;
  top: 1em;
  left: -5px;
  opacity: 0;
  cursor: pointer;

  border-left: 10px solid #C3C3C3;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.row:hover .view-detail {
  opacity: 1;
}
@media (max-width: 400px) {
  .row {
    flex-direction: column;
  }
  .row .column, .row .status {
    width: 100%;
    max-width: 100% !important;
  }
}

.thing .item {
  font-weight: bold;
  flex-shrink: 0;
}
.thing .media-list {
  overflow: auto;
  white-space: nowrap;
}

.audio-player {
  opacity: .4;
  cursor: pointer;
}
.audio-player:hover,
.audio-player.active {
  opacity: 1;
}
.text-image {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer
}
.text audio {
  margin-left: 2px;
}

.overall-summary {
  padding: 0;
  margin: 5px;
}
.overall-summary .progress-bar,
.overall-summary .progress-bar-active {
  color: transparent;
}
.numbers-summary {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #586069;
}
.numbers-summary li {
  padding: 10px 10px 10px 0;
  text-align: center;
}

.multimedia-wrapper {
  font-family: "Open Sans",Sans-Serif;
  /*max-width: 640px;*/
  padding: 20px;
}
.multimedia-wrapper p {
  margin: 0 0 10px;
}
.multimedia-wrapper a {
  color: #15A1EC;
}
.multimedia-wrapper code,
.multimedia-wrapper pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-radius: 3px;
}
.multimedia-wrapper pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}
.multimedia-wrapper code {
  padding: 2px 4px;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.multimedia-wrapper pre code {
  padding: 0;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
code.header {
  display: block;
  margin: auto;
  text-align: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width: 100%;
  margin-top: 5px;
}
.progress .bar {
  background-color: #ffda3e;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.06) inset;
  height: 100%;
}
.status {
  color: #aaa;
  font-size: 12px;
}
.go-learn {
  background: #8177A2;
  color: white;
  cursor: pointer;
}
.pill.go-learn:hover {
  background: #574A83;
}

/*-------------------------------------------------------
 * COURSE MODE SELECTOR
 *-------------------------------------------------------*/

#mode-selector {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: none;
}
.mode-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(35,17,93,0.95);
  color: white;
  padding-bottom: 80px;
  height: 100%;
}
.mode-selector-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin: 0 auto 40px auto;
  position: relative;
  width: 100%;
  padding-right: 70px;
  padding-top: 1em;
  line-height: 1.25em;
}
.mode-selector-close {
  position: absolute;
  right: 12px;
  top: 0;
  width: 56px;
  height: 56px;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  color: #DFDDE8;
  font-size: 56px;
  line-height: 35px;
  font-weight: 500;
  cursor: pointer;
}
.mode-selector-close:hover {
  background: rgba(255,255,255,0.4);
}
.mode-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  max-width: 960px;
  width: 100%;
}
.mode-icon-wrapper {
  background: none;
  border: 0;
  color: white;
  font: inherit;
  cursor: pointer;
}
.mode-icon-wrapper.disabled {
  pointer-events: none;
}
.mode-icon {
  width: 75px;
  height: 75px;
  margin: 15px 30px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  position: relative;
}
.mode-icon-wrapper:hover .mode-icon {
  transform: scale(1.2);
}
.disabled .mode-icon {
  background-color: rgba(0,0,0,0.5) !important;
  opacity: 0.3;
  cursor: default;
}
.mode-counter {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: inherit;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.36);
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
}
.mode-options {
  margin-top: 50px;
}

.mode-icon-label {
  max-width: 100px;
  margin: 0 auto;
  letter-spacing: 0.2px;
}
.mode-icon.speed_review {
  background-image: url("https://gistcdn.githack.com/a-mt/a73b81aa05402f312c0746b39fa786a7/raw/603e202ea4fc9f1e38dc179f8faf40fd06538ede/scb-icon-speedreview.svg");
  background-color: #f83c25;
}
.mode-icon.classic_review {
  background-image: url("https://gistcdn.githack.com/a-mt/02095364d08b9e6e498cc29230e8f818/raw/f47c9ff97932d0442e261ef0c4add012a313c304/scb-icon-review.svg");
  background-color: #02a0fb;
}
.mode-icon.learn {
  background-image: url("https://gistcdn.githack.com/a-mt/f1d9b03ae6f81629e7dd025f9fac936a/raw/828a91a4cf742977f3ed970ee1040792c27498cc/scb-icon-learn.svg");
  background-color: #00c622;
}
.mode-icon.preview {
  background-image: url("https://gistcdn.githack.com/a-mt/458746ed4dce13ae34ac7fd73579c77e/raw/c9861813212e2839b6acca45f66f31253e5ee0fc/scb-icon-preview.svg");
  background-color: #858585;
}

/*-------------------------------------------------------
 * USER
 *-------------------------------------------------------*/

.header-nav .profile-avatar {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.page-stats {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.page-stats li {
  padding: 10px 20px;
  margin: 1px;
  flex-grow: 1;
}
.page-stats strong {
  font-size: 30px;
  line-height: 30px;
  display: block;
}

.user-progress img.current {
  float: left;
  margin: 0 10px;
}
.user-progress img.next {
  float: right;
  margin: 0 10px;
}
.progress-bar {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  text-align: center;
  position: relative;
}
.progress-bar-active {
  border-radius: 4px;
  background-color: #02a0fb;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.progress-bar-active.yellow {
  background-color: rgb(255, 218, 62);
}
.progress-bar-active.green {
  background-color: rgb(68, 208, 68);
}
.progress-bar-active.blue {
  background-color: #6ec8f9;
}

.level-progress {
  min-width: 237px;
  max-width: 500px;
  flex-grow: 1;
}
.level-info {
  margin-top: 10px;
  min-width: 200px;
  padding-left: 20px;
}
.level-persona {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 350px) {
  .user-progress > div {
    display: flex;
    justify-content: center;
  }
}
#mempals-container {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}
.user-box {
  margin: 2px;
  min-width: 215px;
  width: 32%;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  padding: 10px;
  background: white;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all .3s;
}
.user-box:hover {
  border-color: #ccc;
  background: #f4f4f4;
}
.user-box .small-photo {
  width: 60px;
  height: 60px;
  padding: 1px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;
  display: inline-block;
  margin-right: 5px;
}
.user-box img {
  width: 60px;
  height: 60px;
  display: inline-block;
}
.user-box span {
  line-height: 60px;
}
.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  margin: 0;
}

/*-------------------------------------------------------
 * IMAGE ZOOM
 *-------------------------------------------------------*/

#imgZoom,
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
#modal .modal {
  flex-direction: column;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  min-width: 200px;
  min-height: 200px;
  max-height: calc(100% - 20px);
  padding: 10px;
  overflow: auto;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 2px;
  border: 1px solid #e4e4e4;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 721px) {
  .modal {
    min-width: 500px;
    min-height: 50%;
  }
}
#imgZoom img.zoom {
  max-width: calc(100vw - 40px);
  max-height: 100vh;
}
#imgZoom figcaption {
  margin-bottom: -5px;
}
.slideshow-trigger {
  position: absolute;
  top: 0;
  height: 100%;
  width: 115px;
  cursor: pointer;
  overflow: hidden;
}
.slideshow-trigger.prev {
  left: 0;
}
.slideshow-trigger.next {
  right: 0;
}
.slideshow-trigger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform .3s;
}
.slideshow-trigger.prev::before {
  background: url('https://i.imgur.com/5dLNozU.png') no-repeat left center rgba(0,0,0,0.3);
  left: 0;
  transform: translateX(-100%);
}
.slideshow-trigger.next::before {
  background: url('https://i.imgur.com/R8rHuJP.png') no-repeat left center rgba(0,0,0,0.3);
  transform: translateX(100%);
}
.slideshow-trigger:hover::before {
  transform: translateX(0);
}

/*-------------------------------------------------------
 * LEARN
 *-------------------------------------------------------*/

header .course-title {
  padding: 0 15px;
  font-size: 1.3em;
  white-space: nowrap;
}
#level-title {
  color: #7757A8;
}
#level-title:not(:empty)::before {
  content: "/ ";
  color: #3e3e3e;
}

#learn-container {
  padding: 5px;
}
table.learn {
  width: 100%;
  position: relative;
  table-layout: fixed;
}
table.learn:not(.recap) td:last-child {
  width: 100%;
}
.learn .label {
  font-size: 13px;
  color: #ddd;
  text-shadow: 0 1px 1px rgba(0,0,0,0.07);
  text-align: right;
  vertical-align: top;
  padding-top: 10px;
  padding-right: 5px;
  width: 0;
}
.learn tr:hover .label {
  color: #aaa;
}
@supports (transform: translateX(-100%)) {
  .learn .label {
    position: absolute;
    left: -5px;
    transform: translateX(-100%);
    width: auto;
  }
}

.learn .progress-bar-active {
  background-color: #ccc;
}
.learn td {
  padding: 10px;
}
.learn td.item,
.learn td.definition {
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.learn td.item {
  font-weight: 600;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative; top: 1px;
}
.learn td.definition {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative; top: -1px;
}
.learn .alt {
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
}
.big .text-image {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
}
.big .media-list {
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.big .image .media-list,
.big .video .media-list {
  min-height: 200px;
}
@media (max-width: 540px) {
  .big .text-image {
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 160px);
  }
}
.clues {
  text-align: left;
}
.badge {
  font-size: 12px;
  line-height: 14px;
  color: #666;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  padding: 3px 9px;
  border-radius: 10px;
}

.big.choice {
  text-align: center;
  font-size: 1.5em;
  margin: 30px 0;
}
.big.choice audio {
  margin: 0 30px;
  display: inline-block;
  transform: scale(2);
}
.big.choice .audio .media-list {
  padding: 30px 0;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choices.n4 {
  max-width: 550px;
  margin: 0 auto;
}
.choice-box {
  width: 250px;
  margin: 5px;
  flex-shrink: 0;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}
.choice-index {
  color: #999;
  font-size: 25px;
  position: absolute;
  left: 10px;
}

.choice-box:hover,
.choice-box:focus,
.choice-box.active {
  border-color: #8c4a6c;
  background-color: #aa5f86;
  color: white;
}
.choice-box.incorrect {
  border-color: #dd2231;
  background-color: #e44e5a;
  color: white;
}
.choice-box.correct {
  border-color: #71a137;
  background-color: #8bc14a;
  color: white;
}
.choice-box .text-image {
  max-height: 200px;
  max-width: 200px;
  pointer-events: none;
}

.typing-container,
.tapping-container {
  background: #EEE;
  padding: 30px 15px;
}
.typing,
.tapping {
  text-align: center;
  width: 535px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Times New Roman","Times","Kai","KaiTi",Serif;
}
.typing input,
.tapping .input {
  padding: 5.71429px 23px;
  font-size: 30px;
  line-height: 41px;
  min-height: 57px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  width: 100%;
}
.typing input:focus {
  border-color: #E6E6E6;
  background: white;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),
                    0 0 8px rgba(82,168,236,0.6);
}
.typing input.correct {
  border-color: #71a137;
  background-color: #8bc14a;
  color: white;
  box-shadow: none;
}
.typing input.incorrect {
  border-color: #dd2231;
  background-color: #e44e5a;
  color: white;
  box-shadow: none;
}
.typing input.nearly {
  border-color:#ddc722;
  background-color:#e4d24e;
  color:white
}

.keyboard {
  padding-top: 10px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.typing .button,
.tapping .button {
  display: inline-block;
  margin: 3px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid #E6E6E6;
  background: white;
  font-size: 20px;
  line-height: 41px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  font-family: "Helvetica Neue","Helvetica","Arial","Kai","KaiTi",Sans-Serif;
}
.typing .button:hover,
.typing .button:focus,
.tapping .button:hover,
.tapping .button:focus {
  border-color: #8c4a6c;
  background-color: #aa5f86;
  color: white;
}
.tapping .input,
.tapping .button.disabled {
  box-shadow: inset 0 0 4px #fff;
  transition: all 0.1s ease-out;
  background: rgba(230,230,230,0.4);
  color: rgba(0,0,0,0.3)
}
.tapping .button.disabled {
  pointer-events: none;
}
.input .button {
  margin-top: -1px;
  margin-bottom: 0;
}

.correction {
  font-size: .9em;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}
.correction .deleted {
  background-color: LightPink;
  /*text-decoration: line-through;*/
}
.correction .inserted {
  background-color: PaleGreen;
}

.recap {
  padding: 0;
}
.recap td {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 15px;
}
.oftenMissed {
  color:#ff725b
}
.sometimesMissed {
  color:#f08700
}
.rarelyMissed {
  color:#455358
}
.neverMissed {
  color:#23b26d
}

#debug-screen {
  position: fixed;
  z-index: 1;
  border: 1px solid white;
  padding: 5px;
  background: wheat;
  list-style: none;
}
#debug-screen li {
  cursor: pointer;
  padding: 2px;
}
#debug-screen li.disabled {
  opacity: .3;
}
#debug-screen li.active {
  background: rgba(0,0,0,0.1);
}
#debug-screen li:hover {
  background: white;
}

.speed_review {
  padding: 10px;
  position: relative;
}
#speed_review-timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background: linear-gradient(-180deg, #f64230 0%, #f66a30 100%);
  border-radius: 5px;
  transition: height .3s;
}
.progress-stats {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
}
.progress-stats .progress-bar {
  flex-grow: 1;
}
.points-num {
  box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.16),
              inset 0px 1px 3px 0px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 2px 18px;
  text-align: center;
  background: rgba(0,0,0,0.1);
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.5px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  margin-right: 2px;
}
.hearts-wrapper {
  margin-right: 2px;
}
.heart {
  background-image: url("https://i.imgur.com/vYYJg8a.png");
  width: 26px;
  height: 26px;
  background-position: 0px 0px;
  background-size: 94px 26px;
  display: inline-block;
}
.heart.empty {
  background-position: -780px 0px;
}

.overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%,
                                          rgba(0,0,0,0.5) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overlay a {
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255,255,255,0.3);
  padding: 10px 40px;
  display: inline-block;
}
.overlay a:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.34);
  background: rgba(255,255,255,0.5);
}
.overlay .no-heart {
  background: url("https://i.imgur.com/5M529D7.png") no-repeat;
  background-size: 250px 180px;
  width: 250px;
  height: 180px;
}
.overlay-text {
  color: white;
  font-size: 23px;
}

/*-------------------------------------------------------
 * LEADERBOARD
 *-------------------------------------------------------*/

.leaderboard {
  margin: 10px 5px;
  padding: 0;
}
.leaderboard-controls {
  text-align: center;
  padding: 10px;
}
.leaderboard-controls .btn-group {
  margin: 0;
}
.leaderboard-content {
  list-style: none;
  background: #F3F4F3;
  padding: 0;
  margin: 0;
}
.leaderboard-content li {
  border-bottom: 1px solid #eee;
  line-height: 45px;
}
.leaderboard-content a {
  display: block;
  padding: 10px;
}
.leaderboard a:hover {
  background: rgba(255,255,255,0.3);
}
.leaderboard-content img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.row-pic, .row-pic strong {
  margin-right: 10px;
}
.row-points {
  float: right;
  font-weight: 600;
}
.leaderboard-row.current {
  text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background-image: linear-gradient(-90deg, #20a2e9 0%, #10bdde 97%);
  background-color: #20a2e9;
  color: white;
}

/*-------------------------------------------------------
 * LOGIN
 *-------------------------------------------------------*/

form.login {
  max-width: 400px;
  margin-top: 30px;
}
form.login input {
 display: block;
 width: 100%;
}
form.login label {
 font-weight: 600;
}
form.login div:not(:last-child) {
 margin-bottom: 20px;
}
form .error {
 color: red;
}

/*-------------------------------------------------------
 * EDIT
 *-------------------------------------------------------*/
.edit-level {
  margin: 5px;
  counter-increment: levels;
}
.edit-level-label::before {
  content: counters(levels, ".");
  padding-right: 5px;
}
.edit-level-label {
  font-size: 1.3em;
  padding: 5px;
}
.edit-level-actions {
  float: right;
}
.edit-level-actions .action {
  display: inline-block;
  width: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  line-height: 30px;
  margin: 0 2px;
}
.export i {
  display: inline-block;
  color: lightgray;
  border-bottom: 2px solid;
  line-height: 23px;
}
.import {
  position: relative;
}
.import i {
  display: inline-block;
  color: lightgray;
  border-top: 2px solid;
  line-height: 8px;
}
.import input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  line-height: 100%;
  width: 0;
}
.edit-level-actions .action:hover {
  background: #f5f5f5;
}
.edit-level .ico,
.edit-level .addHeader,
.multimedia-view,
.open-recorder {
  display: none;
}
.edit-level .ico-trash {
  display: inline-block;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.table-container {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin-top: 15px;
  overflow: auto;
}
.table {
  min-width: 100%;
  border-collapse: collapse;
}
.columns {
  background: white;
  border-bottom: 1px solid #ddd;
}
.level-things td {
  border-bottom: 1px solid #ddd;
}
.level-things td.cell {
  border-right: 1px solid #ddd;
  padding-left: 5px;
}
.adding tr:last-child td {
  border-bottom: 0;
}
.adding td:first-child {
  width: 0;
  padding: 0;
  border: 0;
  position: relative;
}
.adding tr:last-child td:first-child::before {
  content: "+";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  top: 5px;
  pointer-events: none;
}
.things td.text {
  padding: 8px;
  position: relative;
  white-space: nowrap;
}
.things td:nth-child(2).text {
  padding-left: 12px;
}
.things .text .wide {
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  z-index: 2;
}
.wide {
  width: 100%;
  border: 0 !important;
}
.adding td.text {
  padding: 0;
}
.edit-alts {
  position: absolute;
  right: 2px;
  border: 0;
  opacity: 0;
  z-index: 1;
  top: 4px;
}
.cell:hover .edit-alts {
  opacity: 1;
}
.multimedia-edit textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 5px;
}
.edit-level input:focus,
.edit-level textarea:focus {
  border-color: rgba(82,168,236,0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
tr.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.alt input,
.alt button {
  float: left;
}
.alt input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.alt button {
  border-radius: 0 3px 3px 0;
  color: #fff;
  padding: 8px 20px;
  background-color: #ff5d52;
  border: 1px solid #ff4538;
  font-size: 2em;
  height: 38px;
  line-height: 0;
}
.alt:last-child button {
  border: 1px solid #699f30;
  background-color: #83ca38;
}
.alt button::before {
  content: "\D7";
}
.alt:last-child button::before {
  content: "\2B";
}
.alt-actions {
  padding-top: 30px;
}
.files-add {
  position: relative;
}
.files-add input[type="file"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  line-height: 100%;
  height: 100%;
  width: 50px;
}
.thing__actions {
  position: absolute;
  z-index: 1;
  left: -4px;
  top: 3px;
  line-height: 2em;
  transform: scale(0.8);
}
.things .thing {
  position: relative;
}
.thing:hover .thing__actions .ico-close {
  display: inline-block;
  cursor: pointer;
}
.dropdown-row {
  padding: 10px 5px 10px 10px;
  position: relative;
}
.import_preview {
  min-height: 10px; /* fixes overflow issues of flex */
}
.import_preview table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  empty-cells: show;
}
.import_preview th {
  text-align: center;
  background: #f5f5f5;
}
.import_preview th,
.import_preview td {
  border: 1px solid #ddd;
  padding: 2px 5px;
}
.import_preview img {
  max-height: 50px;
}
.import_preview .run_import {
  width: 100%;
}
.import_preview .run_import.top {
  margin-bottom: 15px;
}
.import_preview .run_import.bottom {
  margin-top: 15px;
}